// AnswerIQ.com Confidential and Proprietary

@import 'imports';

@mixin flash($color) {
  display: block;
  font-weight: bold;
  padding: $base-spacing / 2;
  background: $color;
  color: darken($color, 60);
  position: relative;
  z-index: 1000;

  // All links in the flash (including the close icon)
  a {
    text-decoration: none;
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }

  // Only text links in the flash (excluding the close icon)
  span a {
    border-bottom: 1px solid transparentize(darken($color, 70), .7);

    &:hover {
      border-bottom: 1px solid transparentize(darken($color, 90), .7);
    }
  }

  i {
    margin-right: $base-spacing / 4;
  }

  .content {
    margin: 0 auto;
    width: $max-width;

    @include media($tablet-grid) {
      margin-right: $base-spacing;
      margin-left: $base-spacing;
    }

    @include media($mobile-grid) {
      margin-right: $base-spacing / 2;
      margin-left: $base-spacing / 2;
    }
  }

}

.flash-alert {
  @include flash($light-yellow);
}

.flash-error {
  @include flash($light-red);
}

.flash-notice {
  @include flash($very-light-gray);
}

.flash-success {
  @include flash($light-green);
}
