<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-controller="FlashCtrl as flash">
  <div ng-if="flash.visible()"
       class="{{ flash.type() }}"
       sticky>
    <div class="content">
      <a href="#" ng-click="flash.close()"><i class="close fa fa-close"></i></a>
      <span ng-bind-html="flash.message()"></span>
    </div>
  </div>
</div>
