// AnswerIQ.com Confidential and Proprietary

@import 'imports';

salvation-bar {
  margin: 0;
  padding: 0;
  width: 100%;

  .fill {
    transition: width .2s ease-in;
    background-color: $light-blue;
    height: 2px;
  }
}
