<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div id="signup" class="servicecloud">

    <div class="grid-container">
      <ol class="progress-steps" data-total-steps="3">
        <li class="progress-step-done">1. Connect</li>
        <li class="progress-step-todo">2. Account</li>
        <li class="progress-step-todo">3. Finalize</li>
      </ol>

      <p style='text-align: center;'>
        AnswerIQ is a data-driven application that optimizes your customer support team.<br />
        In less than 2 minutes, your application will be configured in 3 easy steps.
      </p>
    </div>

    <div class="centered-box">
      <div class="title">
        <h4>
          Connect to Salesforce Service Cloud
        </h4>
      </div>
      <form name="connectToServicecloudForm" ng-submit="client.formSubmit()">
        <label>
          <input type="checkbox" ng-model="client.sandbox">Login to my sandbox
        </label>

        <button class="primary" ladda="client.loading" data-style="expand-left">
          Login with Salesforce <i class="fa fa-arrow-circle-right"></i>
        </button>
      </form>
    </div>

  </div>
</div>
