<!-- AnswerIQ.com Confidential and Proprietary -->

<div class="content box" id="popup" ng-controller="PopupCtrl as popup">
  <div class="ngdialog-message">
      <h2>{{popup.message()}}</h2>
  </div>
  <div class="ngdialog-buttons">
      <button class="ngdialog-button ngdialog-button-primary red"
              ng-click="confirm()">
              Confirm
      </button>
      <button class="ngdialog-button ngdialog-button-secondary right-align"
              ng-click="closeThisDialog()">
              Cancel
      </button>
  </div>
</div>
