// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#popup {
  .box {
    background-color: #ffffff;
    text-align: center;
  }

  .right-align {
    float: right;
  }

  h2 {
    margin-top: 10px;
    margin-bottom: 5px / 2;
    margin-left: 20px;
  }
}
