<!-- AnswerIQ.com Confidential and Proprietary -->

<div class='huge-center-notice' ng-if="controller.loading">
  <h1><i class='fa fa-spinner fa-spin'></i></h1>
</div>

<div ng-if="!controller.loading">
  <div class='fetch-section'>
    <span ng-if="!controller.fetching">
      <span class='status'>
        <span ng-if="controller.hasFetched()">Fetched <strong>{{ controller.humanizeFetchedAt()}}</strong> at {{ controller.formatFetchedAt() }}</span>
        <span ng-if="!controller.hasFetched()">Never fetched before</span>
      </span>
      <a href='#' class='fetch-now-link' ng-click="controller.fetch()" style='text-decoration: none;'><i class="fa fa-download"></i> Fetch now</a>
    </span>
    <span class='fetching' ng-if="controller.fetching"><i class="fa fa-refresh fa-spin"></i> Fetching</span>
  </div>

  <p style='clear: both; height: 0; margin: 0;'>&nbsp;</p>

  <div id="admin-ticket-fields" class="grid-container">

    <salvation-bar visible="controller.saved"></salvation-bar>

    <div class="ticket-fields"
         ng-class="{narrow: controller.open}">

      <div class="ticket-field header"
           ng-class="{narrow: controller.open}">
        <div class="name">Field</div>
        <div class="check"></div>
        <div class="status">Status</div>
        <div class="last-rebuild">Last rebuild</div>
        <div class="schedule">Schedule</div>
        <div class="rebuild">Rebuild</div>
      </div>

      <div class="ticket-field"
           ng-click="controller.open = field"
           ng-repeat="field in controller.fields"
           ng-class="{open: field == controller.open,
                      narrow: controller.open,
                      enabled: field.enabled}">

        <i ng-if="controller.open != field"
           class="arrow fa fa-caret-right"></i>

        <i class="pre-check fa"
           ng-class="{checked: field.enabled,
                     'fa-check': !field.publish_predictions && !field.publish_to_field,
                     'fa-cloud-upload': field.publish_predictions || field.publish_to_field}"></i>

        <div class="name">{{ field.name }}</div>

        <i class="check fa"
           ng-class="{checked: field.enabled,
                     'fa-check': !field.publish_predictions,
                     'fa-cloud-upload': field.publish_predictions}"></i>


        <div class="status" ng-if="field.enabled">{{ field.status || "No model" }}</div>
        <div class="last-rebuild" ng-if="field.enabled">
          <span ng-hide="field.last_successful_build_at == null">
            (updated at {{ field.last_successful_build_at | date:"MMM dd 'at&nbsp;'HH:mm"}})
          </span>
          <span ng-if="field.last_successful_build_at == null">
            N/A
          </span>
        </div>
        <div class="schedule" ng-if="field.enabled">{{ field.rebuild_schedule || "&nbsp;" }}</div>
        <div class="rebuild" ng-if="field.enabled">
          <a ng-click="controller.rebuildField(field)">Rebuild Now</a>
        </div>

      </div>

      <div class="ticket-field"
           ng-click="controller.open = 'newField'"
           ng-class="{open: controller.open == 'newField',
                     narrow: controller.open}">
        <i ng-if="controller.open != 'newField'" class="arrow fa fa-plus"></i>
        New field
      </div>
    </div>


    <div class="details" ng-if="controller.open">

      <div ng-repeat="field in controller.fields" ng-if="field == controller.open">
        <div class="thin-close-x" ng-click="controller.open = undefined"></div>
        <h2>
          {{field.name}} <span ng-if="field.zendesk_id">('{{ field.zendesk_id }}')</span>
        </h2>
        <p>Model ID: {{field.id}}</p>
        Type: {{ field.type }}
        <div ng-if="field.required">Required</div>

        <div>
          <div class="status">
            Current model status: {{ field.status || "No Model"}}
            <span ng-hide="field.last_status_report_at == null">
            (updated at {{ field.last_status_report_at | date:"MMM dd 'at&nbsp;'HH:mm"}})
            </span>
          </div>

          <div class="grid-container">
            <div class="left">
              <label>
                <input id="{{field.id}}-store"
                       type="checkbox"
                       ng-model="field.store"
                       ng-disabled="!field.storable"
                       ng-change="controller.setStore(field)"/>
                Store
              </label>

              <label>
                <div class='tooltip-item'>
                  <input id="{{field.id}}-enable"
                         type="checkbox"
                         ng-model="field.enabled"
                         ng-disabled="!field.predictable || field.test_enabled"
                         ng-change="controller.setEnabled(field)"/>
                  <p class='tooltip' ng-if="field.test_enabled">
                    Model can not be disabled when Runscope test is still enabled
                  </p>
                </div>
                Enabled
              </label>

              <label>
                <div class='tooltip-item'>
                  <input id="{{field.id}}-publish"
                         type="checkbox"
                         ng-disabled="controller.client.data_source.display_name == 'Zendesk' && field.type == 'NUMERICAL'"
                         ng-model="field.publish_predictions"
                         ng-change="controller.setPublished(field)"/>
                  Publish to tags
                  <p class='tooltip' ng-if="controller.client.data_source.display_name == 'Zendesk' && field.type == 'NUMERICAL'">
                    "Publish to tags" is only implemented for CATEGORICAL fields
                  </p>
                </div>
              </label>

              <label>
                <div class='tooltip-item'>
                  <input id="{{field.id}}-publish-to-field"
                         type="checkbox"
                         ng-disabled="controller.client.data_source.display_name != 'Zendesk'"
                         ng-model="field.publish_to_field"
                         ng-change="controller.setPublishToField(field)"/>
                  Publish to field
                  <p class='tooltip' ng-if="controller.client.data_source.display_name != 'Zendesk'">
                    "Publish to field" is only implemented for Zendesk clients
                  </p>
                </div>
              </label>

              <label>
                <input id="{{field.id}}-publish"
                       type="checkbox"
                       ng-model="field.factory_uses_null_values"
                       ng-change="controller.setNullValues(field)"/>
                Factory uses null values
              </label>
            </div>

            <div class="right">
              <div ng-if="field.model_id">
                <strong>{{ field.model_id }}</strong>
                (model)
              </div>
              <div ng-if="!field.model_id">
                No model
              </div>

              <div ng-if="field.build_id">
                <strong>{{ field.build_id }}</strong>
                (active build)
              </div>
              <div ng-if="!field.build_id">
                No active build
              </div>

              <div ng-if="field.status && field.status != 'finished'">
                <strong>{{ field.status_build_id }}</strong>
                (latest build)
              </div>
              <div ng-if="!field.status || field.status == 'finished'">
                No latest build
              </div>
            </div>
          </div>

          <div class="rebuild-schedule">
            <h5>Rebuild Scheduling</h5>
            <div class="button-group">
              <label>
                <input type="radio" name="button-group" ng-value="null" ng-model="field.rebuild_schedule" ng-change="controller.saveSchedule(field)">
                <span class="button-group-item">Disabled</span>
              </label>
              <label>
                <input type="radio" name="button-group" value="daily" ng-model="field.rebuild_schedule" ng-change="controller.saveSchedule(field)">
                <span class="button-group-item">Daily</span>
              </label>
              <label>
                <input type="radio" name="button-group" value="weekly" ng-model="field.rebuild_schedule" ng-change="controller.saveSchedule(field)">
                <span class="button-group-item">Weekly</span>
              </label>
              <label>
                <input type="radio" name="button-group" value="monthly" ng-model="field.rebuild_schedule" ng-change="controller.saveSchedule(field)">
                <span class="button-group-item">Monthly</span>
              </label>
            </div>

            <div class="save">
              <button class="tertiary forced-rebuild"
                      ng-click="controller.rebuildField(field)">Rebuild Now</button>

              <button class="tertiary delete-values"
                      ng-click="controller.deleteValues(field)">Delete Ticket Field Values</button>
            </div>
          </div>

          <hr />

          <div class="test">
            <h2>Runscope Test</h2>
            <label>
              <input id="test-enabled"
                     type="checkbox"
                     ng-model="field.test_enabled"
                     ng-change="controller.setTestEnabled(field)"/>
              Test Enabled
            </label>

            <div ng-if="field.test_enabled">

              <h5>Run test every:</h5>
              <div class="button-group">
                <label>
                  <input type="radio" name="button-group-frequency" value="1m" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">Minute</span>
                </label>
                <label>
                  <input type="radio" name="button-group-frequency" value="5m" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">5 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group-frequency" value="15m" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">15 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group-frequency" value="30m" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">30 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group-frequency" value="1h" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">1 Hour</span>
                </label>
                <label>
                  <input type="radio" name="button-group-frequency" value="6h" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">6 Hours</span>
                </label>
                <label>
                  <input type="radio" name="button-group-frequency" value="1d" ng-model="field.test_frequency" ng-change="controller.setTestFrequency(field)">
                  <span class="button-group-item">24 Hours</span>
                </label>
              </div>

              <h5>Test predictions for tickets created in the past:</h5>
              <div class="button-group">
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=0.017 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">Minute</span>
                </label>
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=0.08 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">5 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=0.25 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">15 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=0.5 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">30 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=1 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">1 Hour</span>
                </label>
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=6 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">6 Hours</span>
                </label>
                <label>
                  <input type="radio" name="button-group-period_hours" ng-value=24 ng-model="field.test_period_hours" ng-change="controller.setTestPeriod(field)">
                  <span class="button-group-item">24 Hours</span>
                </label>
              </div>

              <h5>Send alerts for test failures to:</h5>
              <div class="button-group">
                <label>
                  <input type="radio" name="button-group-alert-level" value="WARNING" ng-model="field.test_alert_level" ng-change="controller.setTestAlertLevel(field)">
                  <span class="button-group-item">HipChat</span>
                </label>
                <label>
                  <input type="radio" name="button-group-alert-level" value="CRITICAL" ng-model="field.test_alert_level" ng-change="controller.setTestAlertLevel(field)">
                  <span class="button-group-item">HipChat & Pager Duty</span>
                </label>
              </div>
            </div>

          </div>

          <hr />

          <div class="model-configuration">
            <h5>Model Configuration</h5>


            <div class='spinner' ng-if="!field.model_configuration">
              <i class='fa fa-spinner fa-spin'></i>
            </div>

            <div ng-if="field.model_configuration">

              <form ng-submit="controller.setModelConfiguration(field)">
                <textarea ng-model="field.model_configuration_string"></textarea>

                <div class="save">
                  <button class="tertiary"
                          type="button"
                          ng-click="field.resetConfiguration()">Reset</button>
                  <button type="submit"
                          class="primary"
                          ng-disabled="!field.unsavedConfiguration()">Save</button>
                </div>
              </form>

              <h5>Reset Model Configuration</h5>
              <div class="reset-config-to-default">
                <button class="tertiary red"
                        type="button"
                        ng-click="controller.resetToDefaultModelConfiguration(field)">
                  Reset to default
                </button>
              </div>
            </div>
          </div>

          <div class="certification">

            <hr />

            <h5>Certification</h5>
            <label>
              <input id="certification-enabled"
                     type="checkbox"
                     ng-model="field.certification_enabled"
                     ng-change="controller.setCertificationEnabled(field)">
              Certification Enabled
            </label>

            <form class="certificationForm" ng-submit="controller.updateCertificationSettings(field)" ng-if="field.certification_enabled">
              <label>Max number of observations to be pushed per batch:
                <input type="text" ng-model="field.certification_batch">
              </label>

              <label>Push observations batch once every:
                <div class="button-group">
                  <label>
                    <input type="radio" name="button-group" value="1" ng-model="field.certification_period">
                    <span class="button-group-item">Minute</span>
                  </label>
                  <label>
                    <input type="radio" name="button-group" value="5" ng-model="field.certification_period">
                    <span class="button-group-item">5 Minutes</span>
                  </label>
                  <label>
                    <input type="radio" name="button-group" value="10" ng-model="field.certification_period">
                    <span class="button-group-item">10 Minutes</span>
                  </label>
                  <label>
                    <input type="radio" name="button-group" value="60" ng-model="field.certification_period">
                    <span class="button-group-item">Hour</span>
                  </label>
                </div>

                <button ladda="field.saving" type="submit" onclick="return confirm('Are you sure?');">
                  Update Certification Settings
                </button>

              </label>
            </form>

          </div>

        </div>

        <div ng-if="field.type == 'CATEGORICAL'">
          <hr />
          <h5>Ticket Field Options</h5>

          <p>
            <button
              class='download-csv'
              ng-csv="field.optionTagsCSV"
              csv-header="['name', 'tag']"
              filename="wise-tags-{{client.client.name}}-{{field.name}}.csv">
                Download as CSV
              </button>
          </p>

          <ul>
            <li class="option" ng-repeat="option in field.options">
              {{ option.name }}
              <p class='tag'>{{ option.tag }}</p>
            </li>
          </ul>
        </div>

        <div class="delete-field" ng-if="!field.read_only && client.client.data_source.name == 'zendesk'">
          <hr />
          <button class="red" ng-if="!field.zendesk_id" ng-click="controller.writeField(field)">Create this field on {{client.client.data_source.display_name}}</button>
          <button class="red" ng-click="controller.deleteField(field)">Delete this field</button>
        </div>
      </div>


      <div class="new-ticket-field" ng-if="controller.open == 'newField'" >
        <div class="thin-close-x" ng-click="controller.open = undefined"></div>
        <h2>New field</h2>
        <hr>
        <form ng-submit="controller.saveNewField()" name="newFieldForm">
          <label>Name
            <input type="text" ng-model="controller.newField.name" required>
          </label>
          <label>Type
            <select ng-init="controller.newField.type = 'CATEGORICAL'" name='field_type' ng-model="controller.newField.type">
              <option value="CATEGORICAL">CATEGORICAL</option>
              <option value="NUMERICAL">NUMERICAL</option>
            </select>
          </label>
          <div ng-if="controller.newField.type == 'CATEGORICAL'" class="box" ng-repeat="fieldOption in controller.newField.options track by $index">
            <i class="fa fa-times" ng-click="controller.newField.removeOption($index)"></i>
            <label>
              Option Name
              <input type="text" ng-model="fieldOption.name">
            </label>
            <label>
              Option Value
              <input type="text" ng-model="fieldOption.value">
            </label>
          </div>

          <button ng-if="controller.newField.type == 'CATEGORICAL'" type="button" ng-click="controller.newField.addOption()">Add option</button>
          <button type="submit" ng-disabled="!newFieldForm.$valid">Create field</button>
        </form>
      </div>
    </div>
  </div>
</div>
