// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#admin-ticket-fields {
  border: $base-border;
  border-radius: $base-border-radius;

  .grid-container {
    margin: 0;
    padding: 0;
  }

  .ticket-fields {
    @include span-columns(12);
    transition: width .1s ease-out;
    font-size: .9em;

    &.narrow {
      @include span-columns(3);
    }
  }

  .ticket-field {
    @include clearfix;
    cursor: pointer;
    padding: 1em;

    &:nth-of-type(2n) {
      background-color: $very-light-gray;
    }

    .arrow {
      float: right;
      padding-top: .2em;
    }

    .name,
    .status,
    .schedule,
    .check,
    .last-rebuild,
    .rebuild {
      display: inline;
    }

    .check,
    .pre-check {
      display: inline;
      visibility: hidden;
      margin-top: .2em;
      color: $green;

      &.checked {
        visibility: visible;
      }
    }

    .pre-check {
      display: none;
    }

    .name {
      @include span-columns(3);
    }

    .check {
      @include span-columns(.5);
    }

    .status {
      @include span-columns(2);
    }

    .rebuild {
      @include span-columns(2);
    }

    .last-rebuild {
      @include span-columns(2);
    }

    .schedule {
      @include span-columns(2);
    }

    &.narrow {
      border-right: $base-border;
      border-bottom: $base-border;
      background-color: $very-light-gray;

      &.open {
        border-right: 0;
        background-color: $white;
      }

      .pre-check {
        display: inline;
        float: left;
        margin-right: $base-spacing / 2;
      }

      .name {
        width: 75%;
      }

      .check,
      .status,
      .schedule,
      .last-rebuild,
      .rebuild {
        display: none;
      }

      &.header {
        display: none;
      }
    }

    &.header {
      padding: 7px $base-spacing;
    }

    .button-group {
      @include clearfix;
      margin-bottom: $base-spacing;
    }
  }


  .details {
    @include span-columns(9);
    position: relative;
    transition: width .1s ease-out;
    padding: $base-spacing * 2;
    padding-top: $base-spacing;
    padding-left: $base-spacing;

    h2 {
      margin-bottom: $base-spacing / 2;
      font-weight: 100;
    }

    h5 {
      margin-bottom: 7px;
    }

    .thin-close-x {
      position: absolute;
      top: $base-spacing / 2;
      right: $base-spacing / 2;
      cursor: pointer;
      color: $light-gray;
    }

    .left {
      @include span-columns(5);
    }

    .right {
      @include span-columns(7);
      border-left: 1px solid $base-border-color;
      padding-left: $base-spacing;

      > div {
        margin-bottom: 5px;
      }
    }

    .rebuild-schedule {
      @include clearfix;
      margin-top: $base-spacing;

      button {
        margin-left: $base-spacing;
        border-top: 1px solid transparent;
      }
    }

    .status {
      margin-bottom: $base-spacing;
    }

    .forced-rebuild {
      float: right;
    }

    .save {
      width: 100%;
      text-align: right;
    }

    .model-configuration {
      margin-top: $base-spacing;

      textarea {
        background-color: $dark-gray;
        height: 30em;
        white-space: pre;
        color: $very-light-gray;
        font-family: monospace;
        overflow-x: scroll;
        word-wrap: normal;
      }
      .spinner {
        background-color: #4b4e57;
        color: #f2f3f4;
        font-family: monospace;
        text-align: center;
        padding: 15em 0;
        margin-bottom: 1em;
      }
      .spinner i {
        font-size: 2em;
      }
    }

    div.download-csv {
      display: inline;
      div {
        display: inline;
      }
      span {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    ul {
      margin-bottom: $base-spacing / 2;
      padding-left: $base-spacing;
      list-style-type: disc;
      list-style-position: inside;
    }
    .tag {
      font-style: italic;
      color: #aaa;
    }
    .button-group {
      @include clearfix;
      margin-bottom: $base-spacing;
    }
    .tooltip {
      width: 20em;
      max-width: 20em;
      font-style: normal;
      font-weight: normal;
    }
  }
}

.new-ticket-field {
  .box {
    position: relative;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
    border: $base-border;
    border-radius: $base-border-radius;
    padding: $base-spacing;
  }

  button[type="submit"] {
    float: right;
  }
}
