<!-- AnswerIQ.com Confidential and Proprietary -->

<div class='huge-center-notice' ng-if="controller.loading">
  <h1><i class='fa fa-spinner fa-spin'></i></h1>
</div>

<div id="admin-macro-models" class="grid-container" ng-if='!controller.loading'>

    <salvation-bar visible="controller.saved"></salvation-bar>

    <div class="macro-models"
         ng-class="{narrow: controller.open}">

      <div class="macro-model header"
           ng-class="{narrow: controller.open}">
        <div class="name">Name</div>
        <div class="check"></div>
        <div class="status">Status</div>
        <div class="last-rebuild">Last rebuild</div>
        <div class="schedule">Schedule</div>
        <div class="rebuild">Rebuild</div>
      </div>

      <div class="macro-model"
           ng-click="controller.open = model"
           ng-repeat="model in controller.models"
           ng-class="{open: model == controller.open,
                      narrow: controller.open,
                      enabled: model.enabled}">

        <i ng-if="controller.open != model"
           class="arrow fa fa-caret-right"></i>

        <i class="pre-check fa"
           ng-class="{checked: model.enabled,
                     'fa-check': !model.publish_predictions,
                     'fa-cloud-upload': model.publish_predictions}"></i>

        <div class="name">{{ model.name}}</div>

        <i class="check fa"
           ng-class="{checked: model.enabled,
                     'fa-check': !model.publish_predictions,
                     'fa-cloud-upload': model.publish_predictions}"></i>


        <div class="status" ng-if="model.enabled">{{ model.status || "No model" }}</div>
        <div class="last-rebuild" ng-if="model.enabled">
          <span ng-hide="model.last_successful_build_at == null">
            (updated at {{ model.last_successful_build_at | date:"MMM dd 'at&nbsp;'HH:mm"}})
          </span>
          <span ng-if="model.last_successful_build_at == null">
            N/A
          </span>
        </div>
        <div class="schedule" ng-if="model.enabled">{{ model.rebuild_schedule || "&nbsp;" }}</div>
        <div class="rebuild" ng-if="model.enabled">
          <a ng-click="controller.rebuild(model)">Rebuild Now</a>
        </div>

      </div>

      <div class="macro-model"
           ng-click="controller.open = 'newModel'"
           ng-class="{open: controller.open == 'newModel',
                     narrow: controller.open}">
        <i ng-if="controller.open != 'newModel'" class="arrow fa fa-plus"></i>
        New Macro Model
      </div>
    </div>

    <div class="details" ng-if="controller.open">

      <div ng-repeat="model in controller.models" ng-if="model == controller.open">
        <div class="thin-close-x" ng-click="controller.open = undefined"></div>
        <h2>{{model.name}}</h2>
        <p>Model ID: {{model.id}}</p>
        <div class="status">
          Current model status: {{ model.status || "No Model"}}
                <span ng-hide="model.last_status_report_at == null">
                (updated at {{ model.last_status_report_at | date:"MMM dd 'at&nbsp;'HH:mm"}})
                </span>
        </div>

        <div class="grid-container">
          <div class="left">
            <label>
              <div class='tooltip-item'>
                <input id="{{model.id}}-enable"
                       type="checkbox"
                       ng-model="model.enabled"
                       ng-disabled="model.test_enabled"
                       ng-change="controller.setEnabled(model)"/>
                <p class='tooltip' ng-if="model.test_enabled">
                  Model can not be disabled when Runscope test is still enabled
                </p>
              </div>
              Enabled
            </label>

            <div class='tooltip-item'>
              <label>
                <input id="{{model.id}}-publish"
                       type="checkbox"
                       ng-model="model.publish_predictions"
                       ng-change="controller.setPublished(model)"/>
                Publishing
              </label>
              <p class='tooltip'>
                Zendesk: Create AnswerIQ Confident Response field (if not already created), write publishing tags set AnswerIQ Confident Response field values associated with predictions.
                <br>
                Servicecloud: Write email templates and macro predictions to wisespt__WiseResponse__c field on WisePrediction objects.
              </p>
            </div>
          </div>

          <div class="right">
            <div ng-if="model.model_id">
              <strong>{{ model.model_id }}</strong>
              (model)
            </div>
            <div ng-if="!model.model_id">
              No model
            </div>

            <div ng-if="model.factory_build_id">
              <strong>{{ model.factory_build_id }}</strong>
              (active build)
            </div>
            <div ng-if="!model.factory_build_id">
              No active build
            </div>

            <div ng-if="model.factory_build_created_at">
              <strong>{{ model.factory_build_created_at }}</strong>
              (build created time)
            </div>

          </div>
        </div>

        <div class="rebuild-schedule">
          <h5>Rebuild Scheduling</h5>
          <div class="button-group">
            <label>
              <input type="radio" name="button-group" ng-value="null" ng-model="model.rebuild_schedule" ng-change="controller.saveSchedule(model)">
              <span class="button-group-item">Disabled</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="daily" ng-model="model.rebuild_schedule" ng-change="controller.saveSchedule(model)">
              <span class="button-group-item">Daily</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="weekly" ng-model="model.rebuild_schedule" ng-change="controller.saveSchedule(model)">
              <span class="button-group-item">Weekly</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="monthly" ng-model="model.rebuild_schedule" ng-change="controller.saveSchedule(model)">
              <span class="button-group-item">Monthly</span>
            </label>
          </div>

          <button class="tertiary forced-rebuild"
                  ng-click="controller.rebuild(model)">Rebuild Now</button>
        </div>

        <div class="publishing-tags" ng-if="client.client.data_source.name == 'zendesk'">
          <hr />
          <h2>Publishing Tags</h2>
          <label>
            <input id='ensure_unique_tag_formats-{{model-id}}'
                   type="checkbox"
                   ng-model="model.ensure_unique_tag_formats"
                   ng-change="controller.setEnsureUniqueTagFormats(model)" />
            Ensure uniqueness on save
          </label>
          <form ng-submit="controller.setPublishingTags(model)">
            <textarea ng-model="model.tag_formats_string"></textarea>
            <div class="save">
              <button class="tertiary" type="button" ng-click="model.resetTags()">
                Discard changes
              </button>
              <button type="submit" class="primary" ng-disabled="!model.unsavedTags()">
                Save
              </button>
            </div>
          </form>

        </div>

        <div class="confident-field" ng-if="client.client.data_source.name == 'zendesk'">
          <hr />
          <h2>AnswerIQ Confident Field Name</h2>
          <label>
            <input id="ensure_unique_confident_field_name-{{model-id}}"
                   type="checkbox"
                   ng-model="model.ensure_unique_confident_field_name"
                   ng-change="controller.setEnsureUniqueConfidentFieldName(model)" />
            Ensure uniqueness on save
          </label>
          <form ng-submit="controller.setConfidentFieldName(model)">
            <input type="text" ng-model="model.confident_field_name">
            <button ladda="controller.saving" type="submit">Update </button>
          </form>
        </div>

        <hr />

        <div class="test">
          <h2>Runscope Test</h2>
          <label>
            <input id="test-enabled"
                   type="checkbox"
                   ng-model="model.test_enabled"
                   ng-change="controller.setTestEnabled(model)"/>
            Test Enabled
          </label>

          <div ng-if="model.test_enabled">

            <h5>Run test every:</h5>
            <div class="button-group">
              <label>
                <input type="radio" name="button-group-frequency" value="1m" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">Minute</span>
              </label>
              <label>
                <input type="radio" name="button-group-frequency" value="5m" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">5 Minutes</span>
              </label>
              <label>
                <input type="radio" name="button-group-frequency" value="15m" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">15 Minutes</span>
              </label>
              <label>
                <input type="radio" name="button-group-frequency" value="30m" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">30 Minutes</span>
              </label>
              <label>
                <input type="radio" name="button-group-frequency" value="1h" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">1 Hour</span>
              </label>
              <label>
                <input type="radio" name="button-group-frequency" value="6h" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">6 Hours</span>
              </label>
              <label>
                <input type="radio" name="button-group-frequency" value="1d" ng-model="model.test_frequency" ng-change="controller.setTestFrequency(model)">
                <span class="button-group-item">24 Hours</span>
              </label>
            </div>

            <h5>Test predictions for tickets created in the past:</h5>
            <div class="button-group">
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=0.017 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">Minute</span>
              </label>
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=0.08 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">5 Minutes</span>
              </label>
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=0.25 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">15 Minutes</span>
              </label>
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=0.5 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">30 Minutes</span>
              </label>
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=1 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">1 Hour</span>
              </label>
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=6 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">6 Hours</span>
              </label>
              <label>
                <input type="radio" name="button-group-period_hours" ng-value=24 ng-model="model.test_period_hours" ng-change="controller.setTestPeriod(model)">
                <span class="button-group-item">24 Hours</span>
              </label>
            </div>

            <h5>Send alerts for test failures to:</h5>
            <div class="button-group">
              <label>
                <input type="radio" name="button-group-alert-level" value="WARNING" ng-model="model.test_alert_level" ng-change="controller.setTestAlertLevel(model)">
                <span class="button-group-item">HipChat</span>
              </label>
              <label>
                <input type="radio" name="button-group-alert-level" value="CRITICAL" ng-model="model.test_alert_level" ng-change="controller.setTestAlertLevel(model)">
                <span class="button-group-item">HipChat & Pager Duty</span>
              </label>
            </div>
          </div>

        </div>

        <hr />

        <div class="response-rec-feature-box box">
          <h2>Minimum Outbound Responses per Ticket</h2>
          <p>If set to -1, we will keep fetching all responses until ticket is closed</p>

          <form class="set-min-outbound-responses-per-ticket"
                ng-submit="controller.updateMinOutboundResponsesPerTicket(model)">
            <input type="text" ng-model="model.min_outbound_responses_per_ticket">

            <button
                    ladda="controller.saving"
                    type="submit">Update
            </button>
          </form>
        </div>

        <hr/>

        <div class="model-configuration">
          <h2>Model Configuration</h2>


          <div class='spinner' ng-if="!model.model_configuration">
            <i class='fa fa-spinner fa-spin'></i>
          </div>

          <form ng-submit="controller.setModelConfiguration(model)"
                  ng-if="model.model_configuration">

            <textarea ng-model="model.model_configuration_string">
            </textarea>

            <div class="save">
              <button class="tertiary red"
                      type="button"
                      ng-click="controller.resetToDefaultModelConfiguration(model)">
                Reset to default
              </button>

              <button class="tertiary"
                      type="button"
                      ng-click="model.resetConfiguration()">
                Discard changes
              </button>
              <button type="submit"
                      class="primary"
                      ng-disabled=
                              "!model.unsavedConfiguration()">
                Save
              </button>
            </div>
          </form>
        </div>

        <div class="response-rec-feature-box box">

        <hr />

        <h2>Auto Response</h2>

        <div class='indent'>
          <p ng-show="model.auto_response_enabled_at">
            Last enabled
            <strong>{{model.humanize_auto_response_enabled_at()}}</strong>
            at {{model.format_auto_response_enabled_at()}}
          </p>
          <p ng-hide="model.auto_response_enabled_at">
            Auto response is disabled
          </p>
          <p ng-show="model.auto_response_last_completed_at">
            Last job completed
            <strong>{{model.humanize_auto_response_last_completed_at()}}</strong>
            at {{model.format_auto_response_last_completed_at()}}
          </p>
          <p ng-hide="model.auto_response_last_completed_at">
            Auto response job hasn't run yet
          </p>
        </div>

        <p>&nbsp;</p>

        <h2>
          Settings
          <span class='help'>Click the update button and confirm for changes to take effect</span>
        </h2>

        <form name="autoResponseForm" class='autoResponseForm indent' ng-submit="controller.updateAutoResponseSettings(model)">
          <label>Auto Response Enabled<br />
            <span class='help'>Note: Only future auto responses will be sent.</span><br />
            <input type="checkbox"
                   ng-model="model.auto_response_enabled"
                    />
          </label>

          <label ng-if="client.client.data_source.name == 'zendesk'">Auto Response Agent<br />
            <span class='help'>
              Note: Auto responses (created since the time of enabling) will be sent when this is set. <br />
              Note: Only signed up agents can be used for AR
            </span>
            <select
                    name='auto_response_agent_foreign_id'
                    ng-model="model.auto_response_agent_foreign_id"
                    ng-options="a.foreign_id as a.display_name for a in controller.agents">
              <option value=""></option>
            </select>
          </label>

          <label ng-if="client.client.data_source.name == 'servicecloud'">Auto Response Org Wide Email Address<br />
            <span class='help'>
              Note: Auto responses (created since the time of enabling) will be sent when this is set. <br />
            </span>
            <select
                    name='auto_response_from_address_id'
                    ng-model="model.auto_response_from_address_id"
                    ng-options="a.foreign_id as a.display_name for a in controller.fromAddresses">
              <option value=""></option>
            </select>
          </label>

          <label>Max Auto Responses Per Hour
            <span ng-if="autoResponseForm.max_auto_responses_per_hour.$touched" class="validation-error">
              <span ng-if="!autoResponseForm.max_auto_responses_per_hour.$valid">
                Please enter a whole number between 0 and 100000
              </span>
            </span>
            <input
                    type="number"
                    name="max_auto_responses_per_hour"
                    ng-model="model.max_auto_responses_per_hour"
                    min=0
                    max=100000
                    step=1
                    pattern="\d*"
                    required
                    />
          </label>

          <label>Auto Response Job Period (secs)
            <span ng-if="autoResponseForm.auto_response_job_period_secs.$touched" class="validation-error">
              <span ng-if="!autoResponseForm.auto_response_job_period_secs.$valid">
                Please enter a whole number between 60 and 86400 (a day)
              </span>
            </span>
            <input
                    type="number"
                    name="auto_response_job_period_secs"
                    ng-model="model.auto_response_job_period_secs"
                    min=60
                    max=86400
                    step=1
                    pattern="\d*"
                    required
                    />
          </label>

          <label>Min Time To Auto Respond (secs)
            <span ng-if="autoResponseForm.min_time_to_auto_respond_secs.$touched" class="validation-error">
              <span ng-if="!autoResponseForm.min_time_to_auto_respond_secs.$valid">
                Please enter a whole number between 0 and 86400 (a day)
              </span>
            </span>
            <input
                    type="number"
                    name="min_time_to_auto_respond_secs"
                    ng-model="model.min_time_to_auto_respond_secs"
                    min=0
                    max=86400
                    step=1
                    pattern="\d*"
                    required
                    />
          </label>

          <label>Max Time To Auto Respond (secs)
            <span ng-if="autoResponseForm.max_time_to_auto_respond_secs.$touched" class="validation-error">
              <span ng-if="!autoResponseForm.max_time_to_auto_respond_secs.$valid">
                Please enter a whole number between 0 and 604800 (a week)
              </span>
            </span>
            <input
                    type="number"
                    name="max_time_to_auto_respond_secs"
                    ng-model="model.max_time_to_auto_respond_secs"
                    min=0
                    max=604800
                    step=1
                    pattern="\d*"
                    required
                    />
          </label>

          <label>Max Retries (per Ticket)<br />
            <span class='help'>Note: 0 max retries = 1 try; 1 max retries = 2 tries etc</span>
            <span ng-if="autoResponseForm.auto_response_max_retries.$touched" class="validation-error">
              <span ng-if="!autoResponseForm.auto_response_max_retries.$valid">
                Please enter a whole number between 0 and 10
              </span>
            </span>
            <input
                    type="number"
                    name="auto_response_max_retries"
                    ng-model="model.auto_response_max_retries"
                    min=0
                    max=10
                    step=1
                    pattern="\d*"
                    required
                    />
          </label>

          <button
                  ladda="controller.saving"
                  type="submit"
                  onclick="return confirm('Are you sure?');"
                  ng-disabled="!autoResponseForm.$valid"
                  >
            Update Auto Response Settings
          </button>
        </form>

        <p>&nbsp;</p>

        <h2 ng-if="client.client.data_source.name == 'zendesk'">Enabled Macros</h2>
        <h2 ng-if="client.client.data_source.name == 'servicecloud'">Enabled Email Templates</h2>

        <div>

          <div class='spinner' ng-if="model.has_auto_response_macros == null">
            <i class='fa fa-spinner fa-spin'></i>
          </div>

          <div class='enabled-macros' ng-if="model.has_auto_response_macros">
            <table>
              <tr>
                <th width="15%">ID</th>
                <th width="15%">Threshold</th>
                <th>Name</th>
                <th class='status'>Status</th>
              </tr>

              <tr ng-repeat="(foreign_id, macro) in model.auto_response_macros | orderBy: 'title'" >
                <td>{{macro.foreign_id}}</td>
                <td>{{macro.confidence_threshold}}</td>
                <td>
                  <span ng-if="macro.title">{{macro.title}}</span>
                  <span ng-if="!macro.title"><i class='fa fa-spinner fa-spin'></i></span>
                </td>
                <td class='status'>
                  <span ng-if="macro.mask_proportion == 1" class='status-passive'>Passive</span>
                  <span ng-if="macro.mask_proportion < 1" class='status-live'>Live</span>
                </td>
              </tr>
            </table>
          </div>

          <div class='model-configuration' ng-show='model.has_auto_response_macros == false'>
            <p>Enabled macros not found in the config. The expected format is:</p>
            <textarea>
{
  "predict": {
    "confidence": [
      {
        "confidence_name": "autoresponse",
        "confidence_threshold": {
        "1124326": 0.9,
        "27922094": 0.8,
        "39234934": 0.85,
        ...
        }
      }
    ]
  }
}</textarea>
          </div>
        </div>
        </div>


        <div class="certification">

          <hr />

          <h2>Certification</h2>
          <label>
            <input id="certification-enabled"
                   type="checkbox"
                   ng-model="model.certification_enabled"
                   ng-change="controller.setCertificationEnabled(model)">
            Certification Enabled
          </label>

          <form class="certificationForm" ng-submit="controller.updateCertificationSettings(model)" ng-if="model.certification_enabled">
            <label>Max number of observations to be pushed per batch:
              <input type="text" ng-model="model.certification_batch">
            </label>

            <label>Push observations batch once every:
              <div class="button-group">
                <label>
                  <input type="radio" name="button-group" value="1" ng-model="model.certification_period">
                  <span class="button-group-item">Minute</span>
                </label>
                <label>
                  <input type="radio" name="button-group" value="5" ng-model="model.certification_period">
                  <span class="button-group-item">5 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group" value="10" ng-model="model.certification_period">
                  <span class="button-group-item">10 Minutes</span>
                </label>
                <label>
                  <input type="radio" name="button-group" value="60" ng-model="model.certification_period">
                  <span class="button-group-item">Hour</span>
                </label>
              </div>

              <button ladda="model.saving" type="submit" onclick="return confirm('Are you sure?');">
                Update Certification Settings
              </button>

            </label>
          </form>

        </div>

      </div>

      <div class="new-macro-model" ng-if="controller.open == 'newModel'" >
        <div class="thin-close-x" ng-click="controller.open = undefined"></div>
        <h2>New Macro Model</h2>
        <hr>
        <form ng-submit="controller.saveNewModel()" name="newModelForm">
          <label>Name
            <input type="text" ng-model="controller.newModel.name" required>
          </label>
          <button type="button submit" ng-disabled="!newModelForm.$valid">Create model</button>
        </form>
      </div>

    </div>
</div>
