<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="admin-client-misc" class="grid-container">

  <div class="box">

    <div class="activation">
      <h4>Client level toggles</h4>

      <div>
        <label class="label-switch">
          <input type="checkbox" ng-model="miscCtrl.client.active" ng-change="miscCtrl.patchActive()"/>
          <div class="checkbox"></div>
        </label>
        <strong>Active</strong>
        <p>When inactive, we stop all background jobs for the client and all its models including fetching zendesk data, predicting, auto-responding and publishing.</p>
        <p>Users can still sign-in and see the existing data and the widgets continue to work with the existing data.</p>
      </div>

      <p>&nbsp;</p>

      <div>
        <label class="label-switch">
          <input type="checkbox" ng-model="miscCtrl.client.onboarded" ng-change="miscCtrl.patchOnboarded()"/>
          <div class="checkbox"></div>
        </label>
        <strong>Onboarded</strong>
        <p>This is just a UI toggle. It won't affect widgets or background jobs including fetching zendesk data, predicting, auto-responding or publishing.</p>
        <p>When not "onboarded", the client's users will see the onboarding flow.</p>
        <p>When "onboarded", the client's users will see the dashboard.</p>
        <p>New clients are by default not "onboarded". When the user reaches the last onboarding step, the client is marked as "onboarded" automatically.</p>
        <p>This toggle is only here in case the onboarding flow is not completed by the user and we want to show the dashboard anyway e.g. we setup the models for them and mark them as "onboarded" here.</p>
      </div>

    </div>

    <hr />

    <div class="max-tickets">
      <h4>{{miscCtrl.client.data_source.display_name}} settings</h4>
      <p>The maximum number of tickets that will be fetched for the client.
      10,000 is the default value. Increasing this number after we started making
        predictions for current tickets will cause fetch_tickets job
        to stop fetching current tickets and start fetching from the past
        in order to collect specified number of tickets</p>
      <form class="set-max-tickets" ng-submit="miscCtrl.updateClientSettings()">
        <label>Max tickets to fetch:
          <p></p>
          <input type="text" ng-model="miscCtrl.client.max_tickets">
        </label>

        <p>The maximum age (in months) of tickets that will always be stored (never deleted) for the client.</p>
        <label>Max tickets age to keep:
          <input type="text" ng-model="miscCtrl.client.max_tickets_age_keep_in_months">
        </label>

        <label>Fetch tickets once every:</label>
          <div class="button-group">
            <label>
              <input type="radio" name="button-group" value="1" ng-model="miscCtrl.client.fetch_period">
              <span class="button-group-item">Minute</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="5" ng-model="miscCtrl.client.fetch_period">
              <span class="button-group-item">5 Minutes</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="10" ng-model="miscCtrl.client.fetch_period">
              <span class="button-group-item">10 Minutes</span>
            </label>
            <label>
              <input type="radio" name="button-group" value="60" ng-model="miscCtrl.client.fetch_period">
              <span class="button-group-item">Hour</span>
            </label>
          </div>

        <label>
          <input type="checkbox"
                 ng-model="miscCtrl.client.fetch_attachments_enabled"
                 ng-change="miscCtrl.client.fetch_attachments_enabled"/>
          Fetch Attachments Enabled
        </label>

        <label> CSat Settings </label>
        <p>To enable fetching CSats, please check Fetch CSats Enabled checkbox.
          To fetch only CSats that case submitters actually provided feedback for,
          please check Fetch Received CSats Only checkbox (available when Fetch CSats Enabled checkbox is checked).</p>
        <label>
          <input type="checkbox"
                 ng-model="miscCtrl.client.fetch_csats_enabled"
                 ng-change="miscCtrl.client.fetch_csats_enabled"/>
          Fetch CSats Enabled
        </label>
        <label ng-if="miscCtrl.client.fetch_csats_enabled" >
          <input type="checkbox"
                 ng-model="miscCtrl.client.fetch_csats_filter"
                 ng-change="miscCtrl.client.fetch_csats_filter"
                 ng-true-value="'received'" ng-false-value="null"/>
          Fetch Received CSats Only
        </label>

        <label >
          <input type="checkbox"
                 ng-model="miscCtrl.client.dmc_enabled"
                 ng-change="miscCtrl.client.dmc_enabled"/>
          DMC Enabled
        </label>

        <label ng-if="miscCtrl.client.dmc_enabled">DMC Substitutions Template:
          <textarea
                  ng-model="miscCtrl.client.dmc_substitutions_template">
          </textarea>
        </label>

        <button
           ladda="miscCtrl.saving"
           type="submit">Save
        </button>
      </form>
    </div>

    <hr />

    <div class="curl-instructions" ng-if="miscCtrl.client.data_source.name == 'zendesk'">
      <h4>Zendesk API Proxy</h4>
      <p>The support API can act as a proxy, allowing you to query the
        zendesk API even if the client has chosen to use OAuth.
      </p>

      <p>Use the following curl command. Replace <tt>RELATIVE_ZENDESK_URL</tt>
        with a GET url on the Zendesk API (relative to
        <tt>{{miscCtrl.client.name}}.zendesk.com/api/v2</tt>). Then
        replace <tt>YOUR_AUTH_TOKEN</tt> with a valid admin auth token
        for the support api.
      </p>

      <pre>curl -X POST \
       -H "Content-Type: application/json" \
       -d '{"url":RELATIVE_ZENDESK_URL}' \
       "{{miscCtrl.apiBase}}/api/v1/clients/{{miscCtrl.client.id}}/proxy?auth=YOUR_AUTH_TOKEN"</pre>
    </div>

    <hr />

    <div class="delete-client">
      <h4>Delete client</h4>
      <p>This deletes the client and all associated data.</p>
      <button class="red"
              ng-click="confirmation = true"
              ng-hide="confirmation" >
        Click to delete {{client.client.name}}
      </button>
      <form name="deleteForm"
            ng-show="confirmation"
            ng-submit="miscCtrl.deleteClient()">
        <label>Type client name to confirm:</label>
          <input type="text"
                 ng-model="miscCtrl.inputSubdomain"
                 validate-equals="client.client.name">

        <button class="button" type="reset" ng-click="confirmation = false">
          Cancel
        </button>
        <button type="submit"
                class="danger"
                ladda="miscCtrl.deleting"
                data-style="expand-left"
                ng-disabled="deleteForm.$invalid">
                Delete {{client.client.name}}
        </button>
      </form>
    </div>

  </div>

</div>
