// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#admin-client-misc {
  .max-tickets {
    .button-group {
      @include clearfix;
      margin-bottom: $base-spacing;
    }

    button {
      float: right;
      width: 40%;
    }
  }

  .box {
    margin: 0 auto;
    margin-bottom: $base-spacing * 2;
    padding: $base-spacing;
    width: 500px;

    h4 {
      margin-bottom: $base-spacing / 2;
    }

    input[type=text] {
      width: 250px;
    }

    &>div {
      margin-bottom: 4em;
      clear: both;
    }
  }

  .curl-instructions {
    tt {
      background-color: $very-light-gray;
      padding: 3px;
    }

    pre {
      margin-top: $base-spacing * 2;
      background-color: $very-light-gray;
      padding: $base-spacing;
      overflow: auto;
    }
  }

  textarea {
    white-space: pre-wrap;
    padding: 15px;
    border: $base-border;
    border-radius: $base-border-radius;
    font-style: italic;
    font-size: 16px;
  }

  .performance {
    margin-top: $base-spacing * 2;
  }
}
