// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#admin-client-user-list {
  .row {
    display: table;
    border: $base-border;
    border-bottom: none;
    width: 100%;

    &:first-of-type {
      @include border-top-radius($base-border-radius);
    }

    &:last-of-type {
      @include border-bottom-radius($base-border-radius);
      border-bottom: $base-border;
    }
  }

  .cell {
    display: table-cell;
    padding: $base-spacing / 2;
  }

  .header .cell {
    padding-top: $base-spacing / 3;
    padding-bottom: $base-spacing / 3;
  }

  .name {
    @include span-columns(4, table);
  }

  .email {
    @include span-columns(4, table);
  }

  .actions {
    @include span-columns(4, table);
    text-align: right;

    button {
      margin-bottom: $base-spacing / 2;
    }
  }
}
