<!-- AnswerIQ.com Confidential and Proprietary -->

<div class='huge-center-notice' ng-if="controller.loading">
  <h1><i class='fa fa-spinner fa-spin'></i></h1>
</div>

<div id="admin-client-user-list" ng-if='!controller.loading'>
  <div class="row header">
    <div class="cell name">User name</div>
    <div class="cell actions"></div>
  </div>
  <div class="row" ng-repeat="user in controller.users">
    <div class="cell name">{{user.fullName}} - {{user.email}}</div>
    <div class="cell actions">
      <span ng-if="user.hasAdminPrivilege()">
      <a href='#' ng-if="!user.isAdmin()" ng-click="controller.makeAdmin(user)">Make Admin</a>
      <a href='#' ng-if="user.isAdmin()" ng-click="controller.removeAdmin(user)">Remove Admin</a>
      |
      </span>
      <a href='#' ng-click="controller.resetPassword(user)">Send password reset</a>
      |
      <a href='#' ng-click="controller.deleteUser(user)">Delete User</a>
    </div>
  </div>
</div>
