// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#admin-client-list {

  .title {
    margin: 2em 0;

    h1 {
      margin: 0;
    }

  }

  .button-group {
    margin-bottom: 2em;
  }

  .huge-center-notice {
    margin: 5em;
  }

  .client-table {
    border: $base-border;
    border-radius: $base-border-radius;
    font-size: 0.8em;
  }

  .header {
    @include border-top-radius($base-border-radius);
    @include clearfix;
    display: table;
    border-bottom: $base-border;
    width: 100%;

    .header-cell {
      border-left: $base-border;
      padding: 7px ($base-spacing / 2);
      vertical-align: middle;

      &:nth-child(1) {
        border-left: 0;
      }
    }
  }

  .client {
    display: table;
    width: 100%;
    text-decoration: none;
    color: #000000;

    &:nth-child(2n) {
      background-color: $very-light-gray;
    }
  }

  .cell {
    padding: 7px ($base-spacing / 2);
    vertical-align: middle;

    @include media($mobile-grid) {
      display: block;
    }
  }

  .subdomain {
    @include span-columns(2, table);

    @include media($mobile-grid) {
      @include span-columns(2.5, table);
    }

    input {
      display: inline-block;
      padding: 7px;
      width: 100%;
    }

    &.header-cell {
      @include media($mobile-grid) {
        @include span-columns(4);
        border-bottom: $base-border;
        border-left: 0;
      }
    }
  }

  .actions {
    @include span-columns(2.4, table);

    text-align: center;

    @include media($mobile-grid) {
      display: none;
    }
  }

  .models {
    @include span-columns(1.5, table);

    @include media($mobile-grid) {
      @include span-columns(1.5, table);
      i {
        margin-right: auto;
      }
    }

    i {
      margin-right: $base-spacing / 4;
    }

    &.header-cell {
      @include media($mobile-grid) {
        display: none;
      }
    }
  }

  .onboarded {
    @include span-columns(1, table);

    @include media($mobile-grid) {
      @include span-columns(1.5, table);
      i {
        margin-right: auto;
      }
    }

    i {
      margin-right: $base-spacing / 4;
    }

    &.on i {
      color: $green;
    }

    &.off i {
      color: $red;
    }

    &.header-cell {
      @include media($mobile-grid) {
        display: none;
      }
    }
  }

  .enabled-models {
    @include span-columns(1, table);

    @include media($mobile-grid) {
      display: none;
    }
  }

  .created-at {
    @include span-columns(1, table);

    text-align: right;

    @include media($mobile-grid) {
      display: none;
    }
  }

  .red { color: $red; }
  .green { color: $green; }
  .gray { color: $medium-gray; }

}
