<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="admin-client-list" class="grid-container">

  <div class='title'>
    <h1 style='float: left;'>Clients</h1>

    <div class='button-group' style='float: right;'>
      <label>
        <input type='radio' name='list_type' value='active' ng-model='clients.list_type' ng-change='clients.update()' />
        <span class='button-group-item'>Active</span>
      </label>
      <label>
        <input type='radio' name='list_type' value='inactive' ng-model='clients.list_type' ng-change='clients.update()' />
        <span class='button-group-item'>Inactive</span>
      </label>
    </div>
  </div>

  <div style='clear: both;'></div>

  <div class="client-table">
    <div class="header">
      <div class="subdomain header-cell">
        <input class="search" ng-model="search.name" placeholder="Subdomain" autofocus></input>
      </div>
      <div class="actions header-cell">Actions</div>
      <div class="onboarded header-cell">Onboarded</div>
      <div class="models header-cell">Macro Models</div>
      <div class="enabled-models header-cell">Enabled Macro Models</div>
      <div class="models header-cell">Classification</div>
      <div class="enabled-models header-cell">Enabled Fields</div>
      <div class="created-at header-cell">Created at</div>
    </div>

    <div ng-if="clients.loading" class='huge-center-notice'>
      <h1><i class='fa fa-spinner fa-spin'></i></h1>
    </div>

    <div class="client" ng-repeat="client in clients.clients | filter:search | orderBy:'name' " ng-if="!clients.loading">
      <div class="subdomain cell">{{ client.name }}</div>
      <div class="actions cell">
        <a ui-sref="admin.client.fields({clientId: client.id})">Admin View</a> |
        <a ui-sref="routing({clientId: client.id})">User View</a>
      </div>
      <div class="onboarded cell on" ng-if="client.onboarded">
        <i class="fa fa-check-circle"></i> Yes
      </div>
      <div class="onboarded cell off" ng-if="!client.onboarded">
        <i class="fa fa-circle"></i> No
      </div>

      <div class="models cell">
        <span ng-if="client.macro_model_status == 'disabled'">
          <i class="fa fa-circle gray"></i> Disabled
        </span>
        <span ng-if="client.macro_model_status == 'failed'">
          <i class="fa fa-times-circle red"></i> Failed
        </span>
        <span ng-if="client.macro_model_status == 'finished'">
          <i class="fa fa-check-circle green"></i> Enabled
        </span>
        <span ng-if="client.macro_model_status == 'building'">
          <i class="fa fa-dot-circle-o green"></i> Building
        </span>
      </div>
      <div class="enabled-models cell">{{ client.has_enabled_macro_models }}</div>

      <div class="models cell">
        <span ng-if="client.field_status == 'disabled'">
          <i class="fa fa-circle gray"></i> Disabled
        </span>
        <span ng-if="client.field_status == 'failed'">
          <i class="fa fa-times-circle red"></i> Failed
        </span>
        <span ng-if="client.field_status == 'finished'">
          <i class="fa fa-check-circle green"></i> Enabled
        </span>
        <span ng-if="client.field_status == 'building'">
          <i class="fa fa-check-circle-o green"></i> Building
        </span>
      </div>

      <div class="enabled-models cell">{{ client.has_enabled_ticket_fields }}</div>
      <div class="created-at cell">{{ client.created_at | date : 'shortDate'}}</div>
    </div>
  </div>
</div>
