<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="admin-client" class="grid-container">

  <div class="header">
    <h1>Admin: {{ client.client.name }}</h1>
    <div class="breadcrumb"><a ui-sref="admin.clients">All clients</a></div>
  </div>

  <div class="tabs inpage">
    <div class="grid-container">
      <ul>

        <a ui-sref="reports({clientId: client.client.id})">
          <li>
            View
          </li>
        </a>

        <a ui-sref=".fields">
          <li ng-class="{active: client.stateIsActive('fields')}">
            Fields
          </li>
        </a>

        <a ui-sref=".macro-models">
          <li ng-class="{active: client.stateIsActive('macro-models')}">
            Macro Models
          </li>
        </a>

        <a ui-sref=".users">
          <li ng-class="{active: client.stateIsActive('users')}">
            Users
          </li>
        </a>

        <a ui-sref=".triggers">
          <li ng-class="{active: client.stateIsActive('triggers')}">
            Triggers
          </li>
        </a>

        <a ui-sref=".views">
          <li ng-class="{active: client.stateIsActive('views')}">
            Views
          </li>
        </a>

        <a ui-sref=".unified-widget">
          <li ng-class="{active: client.stateIsActive('unified-widget') || client.stateIsActive('unified-widget-documentation')}">
            Unified Widget
          </li>
        </a>

        <a ui-sref=".misc">
          <li ng-class="{active: client.stateIsActive('misc')}">
            Misc
          </li>
        </a>

      </ul>
    </div>
  </div>

  <p style='clear: both; height: 0; margin: 0;'>&nbsp;</p>

  <ui-view></ui-view>

</div>
