<!-- AnswerIQ.com Confidential and Proprietary -->

<div class='huge-center-notice' ng-if="controller.loading">
  <h1><i class='fa fa-spinner fa-spin'></i></h1>
</div>

<div id="triggers" ng-if="!controller.loading">
  <div class="grid-container">

    <form class="search" ng-submit="controller.doSearch()">
      <input ng-model="controller.search"></input>
      <button class="primary">Search</button>
    </form>

    <div class="trigger-table">

      <div class="trigger" ng-repeat="trigger in controller.triggers">
        <div class="trigger-header expandable-row-header" ng-click="trigger.open = !trigger.open">
          <div class="toggle">
            <i class="fa fa-caret-down" ng-if="trigger.open"></i>
            <i class="fa fa-caret-right" ng-if="!trigger.open"></i>
          </div>
          {{ trigger.title }}
        </div>
        <div class="trigger-body" ng-if="trigger.open">
          <div ng-class="{third: trigger.anyAndAll, half: !trigger.anyAndAll}" ng-if="trigger.conditions.all">
            <span class="procedure">If <strong>all</strong> of these are true:</span>
            <ul>
              <li class="condition" ng-repeat="condition in trigger.conditions.all">
                <span ng-class="entry.type" ng-repeat="entry in condition"> {{ entry.value }}</span>
              </li>
            </ul>
          </div>

          <div ng-class="{third: trigger.anyAndAll, half: !trigger.anyAndAll}" ng-if="trigger.conditions.any.length">
            <span class="procedure">If <strong>any</strong> of these is true:</span>
            <ul>
              <li class="condition" ng-repeat="condition in trigger.conditions.any">
                <span ng-class="entry.type" ng-repeat="entry in condition"> {{ entry.value }}</span>
              </li>
            </ul>
          </div>

          <div ng-class="{third: trigger.anyAndAll, half: !trigger.anyAndAll}">
            <span class="procedure"><strong>then</strong> do the following:</span>
            <ul>
              <li class="condition" ng-repeat="action in trigger.actions">
                <span ng-class="entry.type" ng-repeat="entry in action"> {{ entry.value }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>


    <button class="button previous-page"
            ng-disabled="!controller.hasPreviousPage()"
            ng-click="controller.previousPage()">&lt;&lt;</button>
    <button class="button next-page"
            ng-disabled="!controller.hasNextPage()"
            ng-click="controller.nextPage()">&gt;&gt;</button>
    <div class="count">
      {{ controller.offset + 1 }}
      through
      {{ controller.offset + controller.triggers.length }}
      of
      {{ controller.count }}
    </div>

  </div>
</div>
