// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#triggers {
  .search {
    @include clearfix;
    width: 100%;

    input {
      @include span-columns(10);
      margin-bottom: $base-spacing;
      border: $base-border;
      border-radius: $base-border-radius;
      padding: 7px ($base-spacing / 2);
    }

    button {
      @include span-columns(2);
    }
  }

  .trigger-table {
    margin-bottom: $base-spacing;
    border: $base-border;
    border-radius: $base-border-radius;
    font-size: .9em;

    @include media($mobile-grid) {
      border-radius: 0;
    }
  }

  .trigger-header {
    padding: ($base-spacing / 2) $base-spacing;
  }

  .trigger-body {
    @include clearfix;
    background-color: $very-light-gray;
    padding: ($base-spacing / 2) $base-spacing $base-spacing;
  }

  .trigger {
    border-top: $base-border;

    &:first-child {
      border-top: 0;
    }

    ul {
      border: $base-border;
      border-radius: 3px;
      background-color: #fff;
      padding: 1em;
      padding-left: 3em;
      list-style-type: disc;
    }

    li {
      margin-bottom: 1em;
      padding: 0;
      line-height: 1.5em;
    }

    .procedure {
      color: $medium-gray;
      font-size: .7em;
    }

    .field {
      display: inline-block;
      position: relative;
      top: .4em;
      margin-left: .3em;
      border: $base-border;
      border-radius: $base-border-radius;
      padding: 3px 7px;
      max-width: 75%;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1em;
      white-space: nowrap;
    }

    .half {
      @include span-columns(6);
    }

    .third {
      @include span-columns(4);
    }

    .toggle {
      float: left;
      margin-right: $base-spacing / 2;
    }
  }

  .next-page {
    float: right;
  }

  .previous-page {
    float: left;
  }

  .count {
    padding: 7px;
    text-align: center;
    color: $light-gray;
    font-size: .8em;
  }
}
