// AnswerIQ.com Confidential and Proprietary

#unified-widget-documentation {
    width: 650px;
    margin: 0 auto;

    div {
      margin-bottom: 3em;
    }

    p, pre  {
      margin-bottom: 0.5em;
    }

    h2 {
      margin-bottom: 1em;
    }

    pre {
      font-family: monaco, monospace;
      font-size: 13px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      background: #444;
      color: #eee;
      line-height: 17px;
      padding: 1em;
    }

    ul, ol {
      margin-left: 4em;
    }
    ul, li {
      list-style: disc;
    }
    ol, li {
      list-style: decimal;
    }
}
