<!-- AnswerIQ.com Confidential and Proprietary -->
<div id='unified-widget-documentation'>
  <label style="float: right">
    Version
    <select ng-model='controller.version'>
      <option value='1.0'>1.0 (latest)</option>
      <option value='0.9'>0.9</option>
      <option value='0.8'>0.8</option>
      <option value='0.7'>0.7</option>
    </select>
  </label>

  <div ng-if="controller.version == '1.0'">
    <h1>Unified Widget Config Format 1.0</h1>
    <div>
      <p>This is the overall format:</p>

      <pre>
  {
    "app_url": "https://drive.google.com/uc?export=download&id=XYZ",
    "app_version": "1.0-full",
    "components": []
  }</pre>

      <p>"app_version" specifies which version we intend the client should use. A mismatch won't break anything, but we can use it to see who needs to upgrade the widget.</p>
      <p>If "app_url" is specified (it's optional), clients running an older version will get an update notification in the widget with instructions on how to download and install the update.</p>
      <p>"components" is the list of components. There are currently three component types:
        <ul>
          <li>response</li>
          <li>triage</li>
          <li>translation</li>
        </ul>
      </p>
    </div>

    <div>
      <h2>Automatic updates</h2>
      <p>By comparing the installed version and the config version, the widget can determine when there's a new version available.
</p>
      <p>The widget shows an update notification when:</p>
      <p>
        <ol>
          <li>The config version is "higher" than the installed version.</li>
          <li>It's not the official app (i.e. it's the full version). The official app is automatically updated for all clients when we submit the version to Zendesk.</li>
          <li>The Zendesk user is an admin.</li>
          <li>There's an "app_url" in the config.</li>
        </ol>
      </p>

      <p>Version comparison</p>
      <p>
        <ul>
          <li>The version format is: "MAJOR.MINOR[-BRANCH]" e.g. "0.9", "1.23-full"</li>
          <li>MAJOR and MINOR are required; BRANCH is optional</li>
          <li>There's a new version when MAJOR has increased or MAJOR is the same and MINOR has increased</li>
        </ul>
      </p>

      <p>Since we're already using Google Drive to host the zip files, here's instructions on how to make a "direct download" url to use as "app_url":</p>
      <p>
        <ol>
          <li>change the sharing options to "Anyone with the link can view".
          <li>Right click > Get shareable link.
          <li>In your text editor, modify the link to (replace XYZ with the actual id): https://drive.google.com/uc?export=download&id=XYZ
        </ol>
      </p>
    </div>

    <div>
      <h2>Response Component</h2>
      <p>The minimal "response" component has this format:</p>

      <pre>
  {
    "type": "response"
  }</pre>

      <p>The full "response" component has this format:</p>

      <pre>
  {
    "type": "response",
    "parameters": {
      "macro_model_id": 123,
      "recommend_nth_outbound_response": 1,
      "show_search": true,
      "show_recommendations": true
    },
    "tab_html": "Response"
  }</pre>

      <p>This format also specifies the default values.</p>

      <p>NOTE: if "recommend_nth_outbound_response" is "-1" it will always show recommendations.</p>

    </div>

    <div>
      <h2>Triage Component</h2>

      <p>The minimal "triage" component has this format:</p>

      <pre>
  {
    "type": "triage"
  }</pre>

      <p>The full "triage" component has this format:</p>

      <pre>
  {
    "type": "triage",
    "tab_html": "Triage"
  }</pre>

      <p>This format also specifies the default values.</p>
    </div>

    <div>
      <h2>Translation Component</h2>

      <p>The minimal "translation" component has this format:</p>

      <pre>
  {
    "type": "translation"
  }</pre>

      <p>The full "translation" component has this format:</p>

      <pre>
  {
    "type": "translation",
    "tab_html": "Translation"
  }</pre>

      <p>This format also specifies the default values.</p>
    </div>

    <div>
      <h2>Multiple components</h2>

      <p>Add components to the "components" list e.g.:</p>

      <pre>
  {
    "app_url": "https://drive.google.com/uc?export=download&id=XYZ",
    "app_version": "1.0-full",
    "components": [
      {
        "type": "response"
      },
      {
        "type": "triage"
      },
      {
        "type": "translation"
      }
    ]
  }</pre>

      <p>This produces a widget with two tabs: "response" as the left tab and "triage" as the right tab.</p>

      <p>Two response tabs example:</p>

      <pre>
  {
    "app_url": "https://drive.google.com/uc?export=download&id=XYZ",
    "app_version": "1.0-full",
    "components": [
      {
        "type": "response",
        "parameters": {
          "macro_model_id": 123
        },
        "tab_html": "Response 1"
      },
      {
        "type": "response",
        "parameters": {
          "macro_model_id": 124
        },
        "tab_html": "Response 2"
      }
    ]
  }</pre>

      <p>Two triage tabs example (doesn't make much sense at the moment):</p>

      <pre>
  {
    "app_url": "https://drive.google.com/uc?export=download&id=XYZ",
    "app_version": "1.0-full",
    "components": [
      {
        "type": "triage",
        "tab_html": "Triage 1"
      },
      {
        "type": "triage",
        "tab_html": "Triage 2"
      }
    ]
  }</pre>
    </div>
  </div>

  <div ng-if="controller.version == '0.9'">
    <h1>Unified Widget Config Format 0.9</h1>
    <div>
      <p>This is the overall format:</p>

      <pre>
  {
    "app_version": "0.9-full",
    "components": []
  }</pre>

      <p>The "app_version" specifies which version we intend the client should use. A mismatch won't break anything, but we can use it to see who needs to upgrade the widget.</p>

      <p>"components" is the list of components. There are currently three component types:
        <ul>
          <li>response</li>
          <li>triage</li>
          <li>translation</li>
        </ul>
      </p>
    </div>

    <div>
      <h2>Response Component</h2>
      <p>The minimal "response" component has this format:</p>

      <pre>
  {
    "type": "response"
  }</pre>

      <p>The full "response" component has this format:</p>

      <pre>
  {
    "type": "response",
    "parameters": {
      "macro_model_id": 123,
      "recommend_nth_outbound_response": 1,
      "show_search": true,
      "show_recommendations": true
    },
    "tab_html": "Response"
  }</pre>

      <p>This format also specifies the default values.</p>

      <p>NOTE: if "recommend_nth_outbound_response" is "-1" it will always show recommendations.</p>

    </div>

    <div>
      <h2>Triage Component</h2>

      <p>The minimal "triage" component has this format:</p>

      <pre>
  {
    "type": "triage"
  }</pre>

      <p>The full "triage" component has this format:</p>

      <pre>
  {
    "type": "triage",
    "tab_html": "Triage"
  }</pre>

      <p>This format also specifies the default values.</p>
    </div>

    <div>
      <h2>Translation Component</h2>

      <p>The minimal "translation" component has this format:</p>

      <pre>
  {
    "type": "translation"
  }</pre>

      <p>The full "translation" component has this format:</p>

      <pre>
  {
    "type": "translation",
    "tab_html": "Translation"
  }</pre>

      <p>This format also specifies the default values.</p>
    </div>

    <div>
      <h2>Multiple components</h2>

      <p>Add components to the "components" list e.g.:</p>

      <pre>
  {
    "app_version": "0.9-full",
    "components": [
      {
        "type": "response"
      },
      {
        "type": "triage"
      },
      {
        "type": "translation"
      }
    ]
  }</pre>

      <p>This produces a widget with two tabs: "response" as the left tab and "triage" as the right tab.</p>

      <p>Two response tabs example:</p>

      <pre>
  {
    "app_version": "0.9-full",
    "components": [
      {
        "type": "response",
        "parameters": {
          "macro_model_id": 123
        },
        "tab_html": "Response 1"
      },
      {
        "type": "response",
        "parameters": {
          "macro_model_id": 124
        },
        "tab_html": "Response 2"
      }
    ]
  }</pre>

      <p>Two triage tabs example (doesn't make much sense at the moment):</p>

      <pre>
  {
    "app_version": "0.9-full",
    "components": [
      {
        "type": "triage",
        "tab_html": "Triage 1"
      },
      {
        "type": "triage",
        "tab_html": "Triage 2"
      }
    ]
  }</pre>
    </div>
  </div>

  <div ng-if="controller.version == '0.8'">
    <h1>Unified Widget Config Format 0.8</h1>
    <div>
      <p>This is the overall format:</p>

      <pre>
  {
    "app_version": "0.8-full",
    "components": []
  }</pre>

      <p>The "app_version" specifies which version we intend that the client should use. A mismatch won't break anything, but we can use it to see who needs to upgrade the widget.</p>

      <p>"components" is a list/array of components: There are currently two component types: "response" and "triage".</p>
    </div>

    <div>
      <h2>Response Component</h2>
      <p>The minimal "response" component has this format:</p>

      <pre>
  {
    "type": "response"
  }</pre>

      <p>The full "response" component has this format:</p>

      <pre>
  {
    "type": "response",
    "parameters": {
      "macro_model_id": 123,
      "recommend_nth_outbound_response": 1,
      "show_search": true,
      "show_recommendations": true
    },
    "tab_html": "Response"
  }</pre>

      <p>This format also specifies the default values.</p>

      <p>NOTE: if "recommend_nth_outbound_response" is "-1" it will always show recommendations.</p>

    </div>

    <div>
      <h2>Triage Component</h2>

      <p>The minimal "triage" component has this format:</p>

      <pre>
  {
    "type": "triage"
  }</pre>

      <p>The full "triage" component has this format:</p>

      <pre>
  {
    "type": "triage",
    "tab_html": "Triage"
  }</pre>

      <p>This format also specifies the default values.</p>
    </div>

    <div>
      <h2>Multiple components</h2>

      <p>Add components to the "components" list e.g.:</p>

      <pre>
  {
    "app_version": "0.8-full",
    "components": [
      {
        "type": "response"
      },
      {
        "type": "triage"
      }
    ]
  }</pre>

      <p>This produces a widget with two tabs: "response" as the left tab and "triage" as the right tab.</p>

      <p>Two response tabs example:</p>

      <pre>
  {
    "app_version": "0.8-full",
    "components": [
      {
        "type": "response",
        "parameters": {
          "macro_model_id": 123
        },
        "tab_html": "Response 1"
      },
      {
        "type": "response",
        "parameters": {
          "macro_model_id": 124
        },
        "tab_html": "Response 2"
      }
    ]
  }</pre>

      <p>Two triage tabs example (doesn't make much sense at the moment):</p>

      <pre>
  {
    "app_version": "0.8-full",
    "components": [
      {
        "type": "triage",
        "tab_html": "Triage 1"
      },
      {
        "type": "triage",
        "tab_html": "Triage 2"
      }
    ]
  }</pre>
    </div>
  </div>

  <div ng-if="controller.version == '0.7'">

    <h1>Unified Widget Config Format 0.7</h1>
    <div>
      <p>This is the overall format:</p>

      <pre>
  {
    "app_version": "0.7-full",
    "components": []
  }</pre>

      <p>The "app_version" specifies which version we intend that the client should use. A mismatch won't break anything, but we can use it to see who needs to upgrade the widget.</p>

      <p>"components" is a list/array of components: There are currently two component types: "response" and "triage".</p>
    </div>

    <div>
      <h2>Response Component</h2>
      <p>The minimal "response" component has this format:</p>

      <pre>
  {
    "id": "response"
  }</pre>

      <p>The full "response" component has this format:</p>

      <pre>
  {
    "id": "response",
    "js_file_name": "response.js",
    "parameters": {
      "macro_model_id": 123,
      "recommend_nth_outbound_response": 1,
      "show_search": true,
      "show_recommendations": true
    },
    "tab_html": "Response"
  }</pre>

      <p>This format also specifies the default values.</p>

      <p>NOTE: if "recommend_nth_outbound_response" is "-1" it will always show recommendations.</p>

    </div>

    <div>
      <h2>Triage Component</h2>

      <p>The minimal "triage" component has this format:</p>

      <pre>
  {
    "id": "triage"
  }</pre>

      <p>The full "triage" component has this format:</p>

      <pre>
  {
    "id": "triage",
    "js_file_name": "triage.js",
    "tab_html": "Triage"
  }</pre>

      <p>This format also specifies the default values.</p>
    </div>

    <div>
      <h2>Multiple components</h2>

      <p>Add components to the "components" list e.g.:</p>

      <pre>
  {
    "app_version": "0.7-full",
    "components": [
      {
        "id": "response"
      },
      {
        "id": "triage"
      }
    ]
  }</pre>

      <p>This produces a widget with two tabs: "response" as the left tab and "triage" as the right tab.</p>
    </div>

    <div>
      <h2>Multiple components of the same type</h2>

      <p>Use the same "js_file_name" (either "response.js" or "triage.js") and choose unique "id"s.</p>

      <p>Two response tabs example:</p>

      <pre>
  {
    "app_version": "0.7-full",
    "components": [
      {
        "id": "response-1",
        "js_file_name": "response.js",
        "parameters": {
          "macro_model_id": 123
        },
        "tab_html": "Response 1"
      },
      {
        "id": "response-2",
        "js_file_name": "response.js",
        "parameters": {
          "macro_model_id": 124
        },
        "tab_html": "Response 2"
      }
    ]
  }</pre>

      <p>Two triage tabs example (doesn't make much sense at the moment):</p>

      <pre>
  {
    "app_version": "0.7-full",
    "components": [
      {
        "id": "triage-1",
        "js_file_name": "triage.js",
        "tab_html": "Triage 1"
      },
      {
        "id": "triage-2",
        "js_file_name": "triage.js",
        "tab_html": "Triage 2"
      }
    ]
  }</pre>
    </div>
  </div>
</div>
