<!-- AnswerIQ.com Confidential and Proprietary -->

<div id='unified-widget'>
  <p>Installed widget version on "{{ controller.client.name}}.zendesk.com": <strong>{{controller.client.last_seen_widget_version || "Unknown"}}</strong></a></p>

  <div>
    <ul>
      <li>A config specifies the widget layout and settings for an agent.</li>
      <li>If the agent doesn't have an <strong>agent config</strong> he/she falls backs to the <strong>client config</strong>.</li>
      <li>If there's no <strong>client config</strong> the agent falls back to the <strong>default config</strong>.</li>
      <li><a ui-sref="admin.client.unified-widget-documentation">Documentation</a></li>
    </ul>
  </div>

  <div class='filters'>

    <form ng-submit='controller.search()' class='search' style='float: left'>
      <input type='text' ng-model='controller.search_string' placeholder='Search' />
      <a href='#' ng-click='controller.clearSearch()' ng-if='controller.result_search_string'>Clear</a>
    </form>

    <ul class='pagination' style='float: right; margin-left: .5em;'>
      <li>
        <a href='#' ng-if='!controller.show_previous || controller.is_loading' class='disabled'>&larr; Previous</a>
        <a href='#' ng-if='controller.show_previous && !controller.is_loading' ng-click='controller.goToPreviousPage()'>&larr; Previous</a>
      </li>
      <li>
        <a href='#' ng-if='!controller.show_next || controller.is_loading' class='disabled'>Next &rarr;</a>
        <a href='#' ng-if='controller.show_next && !controller.is_loading' ng-click='controller.goToNextPage()'>Next &rarr;</a>
      </li>
    </ul>

    <p ng-if="controller.total_count" style='float: right'>
      Showing <strong>{{controller.page_range_start}}-{{controller.page_range_end}}</strong> of <strong>{{controller.total_count}}</strong> active agents
      <span ng-if='controller.result_search_string'> matching <strong>{{controller.result_search_string}}</strong></span>
    </p>

  </div>

  <table>
    <tr>
      <th class='name'>Name</th>
      <th class='default-config'>Default Config</th>
      <th class='client-config'>Client Config</th>
      <th class='agent-config'>Agent Config</th>
      <th class='actions'></th>
    </tr>

    <tr ng-if='!controller.is_loading'>
      <td class='name'><strong>Default Config</strong></td>
      <td class='default-config'><i class='fa fa-check'></i></td>
      <td class='client-config'></td>
      <td class='agent-config'></td>
      <td class='actions'><a ng-click="controller.showDefaultConfig()">Edit</a></td>
    </tr>

    <tr ng-if='!controller.is_loading'>
      <td class='name'><strong>Client Config ({{controller.client.name}})</strong></td>
      <td class='default-config'>
        <i class='fa fa-check' ng-if='!controller.client_config.current_config'></i>
      </td>
      <td class='client-config'>
        <i class='fa fa-check' ng-if='controller.client_config.current_config'></i>
      </td>
      <td class='agent-config'></td>
      <td class='actions'>
        <span ng-if='controller.client_config.current_config'>
          <a ng-click="controller.showClientConfig()">Edit</a>
        </span>
        <span ng-if='!controller.client_config.current_config'>
          <a ng-click="controller.showClientConfig()">New</a>
        </span>
      </td>
    </tr>

    <tr ng-repeat='agent in controller.agents'>
      <td class='name'>
        {{agent.name}}
        <span style='color: #aaa;'>ID: {{agent.foreign_id}}</span>
      </td>
      <td class='default-config'>
        <i class='fa fa-check' ng-if='!agent.config.current_config && !controller.client_config.current_config'></i>
      </td>
      <td class='client-config'>
        <i class='fa fa-check' ng-if='!agent.config.current_config && controller.client_config.current_config'></i>
      </td>
      <td class='agent-config'>
        <i class='fa fa-check' ng-if='agent.config.current_config'></i>
      </td>

      <td class='actions'>
        <span ng-if='agent.config.current_config'>
          <a ng-click="controller.showAgentConfig(agent)">Edit</a>
        </span>
        <span ng-if='!agent.config.current_config'>
          <a ng-click="controller.showAgentConfig(agent)">New</a>
        </span>
      </td>
    </tr>

  </table>

  <div ng-if='controller.is_loading' style='text-align: center; font-size: 200%'>
    <i class='fa fa-spinner fa-spin'></i>
  </div>

  <div class='config-modal'>
    <div class='background'></div>
    <div class='content-container'>
      <div class='content'>
        <a class='close' ng-click="controller.closeModal()"><i class='fa fa-close'></i></a>
        <h2>{{controller.modal.title}}</h2>
        <p ng-if='controller.modal.parent_name'>Based on the {{controller.modal.parent_name}}</p>

        <div>
          <br />

          <label>
            Description
            <input type='text' class='description' ng-model='controller.modal.description' />
          </label>

          <label>
            Config (<a ui-sref="admin.client.unified-widget-documentation">Documentation</a>)
            <textarea class='config_json' ng-model='controller.modal.config'></textarea>
          </label>
          <div class="flash-success" ng-if="controller.modal.valid == true">
            <i class='fa fa-check-circle'></i>Valid
          </div>

          <div class="flash-error" ng-if="controller.modal.valid == false">
            {{ controller.modal.validation_error }}
          </div>

          <div style='float: left;'>
            <button class='danger' ng-if="controller.modal.show_delete" ng-click="controller.deleteConfig()">Delete</button>
          </div>
          <div style='float: right;' ng-if="!controller.modal.saving">
            <a ng-click='controller.closeModal()'>Cancel</a> or
            <button ng-click='controller.validate()'>Validate</button>
            <button ng-click='controller.saveModal()'>{{controller.modal.button_title}}</button>
          </div>
          <div style='float: right;' ng-if="controller.modal.saving">
            <i class='fa fa-spinner fa-spin'></i>
          </div>
          <p style='clear: both;'><br /></p>
        </div>

        <div class='history' ng-if="controller.modal.versions.length && !controller.modal_version">
          <h2>History</h2>

          <table>
            <tr>
              <th class='version'></th>
              <th class='when'>When</th>
              <th class='who'>Who</th>
              <th class='note'>Description</th>
              <th class='actions'></th>
            </tr>

            <tr ng-repeat="version in controller.modal.versions">
              <td class='version'>#{{version.version}}</td>
              <td class='when'>{{controller.humanizeDateString(version.created_at)}}</td>
              <td class='who'>{{version.author_name}}</td>
              <td class='note'>{{version.description}}</td>
              <td class='actions'>
                <a ng-click='controller.showVersion(version)'>Show</a> |
                <a ng-click='controller.diffVersion(version)'>Diff</a>
              </td>
            </tr>

          </table>
        </div>

        <div class='show-version' ng-if='controller.modal_version_type == "show"'>
          <h2>Show Version #{{controller.modal_version.version}}</h2>
          <table>
            <tr>
              <th>
                {{controller.modal_version.description}}<br />
                <span style='font-weight: normal'>
                  {{controller.humanizeDateString(controller.modal_version.created_at)}} by {{controller.modal_version.author_name}}
                </span>
              </th>
              <th style="text-align: right;">
                <a ng-click='controller.showHistory()'>&larr; Back to history</a>
                | <a ng-click='controller.previousShowVersion()'>&darr; Previous</a>
                | <a ng-click='controller.nextShowVersion()'>&uarr; Next</a>
              </th>
            </tr>
          </table>
          <textarea disabled="true">{{controller.modal_version.pretty_config}}</textarea>
        </div>

        <div class='diff-version' ng-if='controller.modal_version_type == "diff"'>
          <h2>Diff Version #{{controller.modal_version.version}}</h2>
          <table style='margin-bottom: 0;'>
            <tr>
              <th>
                {{controller.modal_version.description}}<br />
                <span style='font-weight: normal'>
                  {{controller.humanizeDateString(controller.modal_version.created_at)}} by {{controller.modal_version.author_name}}
                </span>
              </th>
              <th style="text-align: right;">
                <a ng-click='controller.showHistory()'>&larr; Back to history</a>
                | <a ng-click='controller.previousDiffVersion()'>&darr; Previous</a>
                | <a ng-click='controller.nextDiffVersion()'>&uarr; Next</a>
              </th>
            </tr>
          </table>
          <div class="visual" ng-bind-html="controller.modal_diff_html"></div>
        </div>

      </div>
    </div>
  </div>
</div>
