// AnswerIQ.com Confidential and Proprietary

#unified-widget {

  a {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  th {
    background: #eee;
  }

  td, th {
    width: 12.5%;
  }

  th:first-child, td:first-child {
    padding-left: 1em;
  }

  th:last-child, td:last-child {
    padding-right: 1em;
  }

  .foreign_id {
    text-align: right;
    padding-right: 2em;
  }

  .name {
    width: 50%;
  }

  .default-config {
    border-left: 1px solid #ccc;
  }

  .agent-config {
    border-right: 1px solid #ccc;
  }

  .default-config, .client-config, .agent-config {
    text-align: center;
  }

  .actions {
    text-align: right;
  }

  .filters {
    margin-top: 2em;
  }

  .search {
    width: 250px;
  }

  .search input {
    border-radius: 0;
    width: 200px;
    padding: .2em;
    display: inline;
  }

  .pagination li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  .pagination li a {
    padding: .2em .6em;
    margin: 0;
    border: 1px solid #eee;
    text-decoration: none;

    &.disabled {
      color: #ddd;
      cursor: default;
    }
  }

  .config-modal {
    display: none;

    .background {
      position: fixed;
      background: rgba(0, 0, 0, 0.65);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1001;
    }
    .content-container {
      position: absolute;
      left: 0;
      z-index: 1002;
      width: 100%;
    }
    .content {
      padding: 2em;
      margin: 0 auto;
      background: #fff;
      width: 1000px
    }
    .close {
      float: right;
      font-size: 150%;
    }
    textarea {
      font-family: monaco, monospace;
      font-size: 13px;
      border-radius: 0;
      border: none;
      box-shadow: none;
      background: #444;
      color: #eee;
      line-height: 17px;
      height: 550px;
      padding: 1em;
    }
    .flash-success, .flash-error {
      margin-top: -20px;
      margin-bottom: 0.75em;
    }

    .history table th.version { width: 5%; }
    .history table th.when { width: 10%; }
    .history table th.who { width: 20%; }
    .history table th.note { width: 40%; }
    .history table th.actions { width: 10%; }

    .diff-version, .show-version {
      table {
        margin-bottom: 0;
      }
      textarea, .visual {
        padding: 1em;
      }
    }

    .diff-version {
      .visual {
        border-left: 1px solid #ccc;
        background: #444;
        color: #eee;
        line-height: 17px;
        * {
          font-family: monaco, monospace;
          font-size: 13px;
        }
      }
      .jsondiffpatch-added .jsondiffpatch-property-name, .jsondiffpatch-added .jsondiffpatch-value pre, .jsondiffpatch-modified .jsondiffpatch-right-value pre, .jsondiffpatch-textdiff-added {
        color: #bbffbb;
        background: inherit;
      }
      .jsondiffpatch-moved .jsondiffpatch-moved-destination {
        color: #ffffbb;
        background: inherit;
      }
      .jsondiffpatch-deleted .jsondiffpatch-property-name, .jsondiffpatch-deleted pre, .jsondiffpatch-modified .jsondiffpatch-left-value pre, .jsondiffpatch-textdiff-deleted {
          color: #ffbbbb;
          text-decoration: line-through;
          background: inherit;
      }
      .jsondiffpatch-unchanged, .jsondiffpatch-movedestination {
          color: #888;
      }
      .jsondiffpatch-delta {
        padding: 0;
      }

    }
  }
}
