// AnswerIQ.com Confidential and Proprietary

#reports {

  .button-group {
    float: right;
    font-size: 55%;
  }

  .loading {
    font-size: 55%;
    float: right;
    margin: .4em .8em 0 0;
  }

}

iframe {
  border: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
