<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/logged_in_header.html'"></div>
<div ng-include="'/header/navigation.html'"></div>

<div id='reports'>

  <div ng-if="controller.initial_loading" class='huge-center-notice'>
    <h1><i class='fa fa-spinner fa-spin'></i></h1>
  </div>

  <div class='grid-container' ng-if='!controller.initial_loading'>

    <h1>
      Performance for {{controller.client.name}}

      <div class='button-group'>
        <label ng-if='controller.show_response'>
          <input type='radio' name="report-type" value='response' ng-model='controller.report_type' ng-change='controller.update()'>
          <span class='button-group-item'>Response</span>
        </label>
        <label ng-if='controller.show_ar'>
          <input type='radio' name='report-type' value='ar' ng-model='controller.report_type' ng-change='controller.update()'>
          <span class='button-group-item'>Auto-Response</span>
        </label>
        <label ng-if='controller.show_triage'>
          <input type='radio' name='report-type' value='triage' ng-model='controller.report_type' ng-change='controller.update()'>
          <span class='button-group-item'>Routing</span>
        </label>
      </div>

      <div class='loading'>
        <i class='fa fa-spinner fa-spin'></i>
      </div>

    </h1>

    <div ng-if='!controller.report_type'>No performance dashboards sorry</div>
  </div>



</div>