// AnswerIQ.com Confidential and Proprietary

@import 'imports';

percent-bar {
  .bar {
    display: block;
    margin-left: 42px;
    background-color: $very-light-gray;
    height: 12px;
    text-align: left;

    .fill {
      @include transition(width .5s ease-in-out);
      display: block;
      background: $green;
      width: 0;
      height: 100%;

      .percentage {
        position: relative;
        left: -42px;
        line-height: 1;
        font-size: 12px;
      }
    }
  }
}
