<!-- AnswerIQ.com Confidential and Proprietary -->

<div class="bar">
  <div class="fill" style="width: {{ percent * 100 }}%">
    <div class="percentage">{{ label || (percent | number) }}</div>
  </div>
</div>
