<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/logged_in_header.html'"></div>
<div ng-include="'/header/navigation.html'"></div>

<div id="macro-suggestions" class="grid-container">

  <div ng-if="controller.fetching" class='huge-center-notice'>
    <h1><i class='fa fa-spinner fa-spin'></i> Hold on while we get some fresh suggestions for you ...</h1>
  </div>

  <div ng-if="!controller.fetching && !controller.hasMacroSuggestions()" class='huge-center-notice'>
    <h1>Sorry, no macro suggestions found</h1>
  </div>

  <div ng-if="!controller.fetching && controller.hasMacroSuggestions()">
    <h1>Macro Suggestions</h1>
    <p class='tagline'>Suggestion for you based on agent usage of common non-macro text</p>

    <table id='type-switch'>
      <tr>
        <td class='generated'>
          Suggestions generated <strong>{{ controller.humanizeDateString(controller.generated_at)}}</strong>
        </td>
        <td class='controls'>

          <div class="button-group" style="margin: 0; margin-left: 1em; float: right">
            <label>
              <input type="radio" ng-checked="controller.macro_suggestion_table_type == 'common-replies'" ng-click="controller.macro_suggestion_table_type = 'common-replies'" />
              <span class="button-group-item">Common Replies</span>
            </label>
            <label>
              <input type="radio" ng-checked="controller.macro_suggestion_table_type == 'multiple-macros'" ng-click="controller.macro_suggestion_table_type = 'multiple-macros'" />
              <span class="button-group-item" >Multiple Macros</span>
            </label>
          </div>

          <div class="button-group" style="margin: 0; float: right">
            <label ng-if='controller.macro_suggestion_table_type == "common-replies"'>
              <span class="button-group-item">
                <button
                  class="download-csv"
                  ng-csv="controller.commonRepliesCSV()"
                  quote-strings="true"
                  text-delimiter='"'
                  csv-header="['text', 'ticket_usage', 'agent_usage', 'first_usage', 'last_usage', 'similarity_to_existing_macro']"
                  filename="wise-common-replies-{{controller.client.name}}.csv">
                  <i class='fa fa-download'></i> CSV
                </button>
              </span>
            </label>

            <label ng-if='controller.macro_suggestion_table_type == "multiple-macros"'>
              <span class="button-group-item">
                <button
                  class="download-csv"
                  ng-csv="controller.multipleMacrosCSV()"
                  quote-strings="true"
                  text-delimiter='"'
                  csv-header="['text', 'ticket_usage', 'macro0_title', 'macro1_title', 'macro0_text', 'macro1_text']"
                  filename="wise-multiple-macros-{{controller.client.name}}.csv">
                  <i class='fa fa-download'></i> CSV
                </button>
              </span>
            </label>
          </div>

        </td>
      </tr>
    </table>

    <div id='common-replies' ng-if="controller.macro_suggestion_table_type == 'common-replies'">

      <table class='macro-suggestions-table'>
        <thead>
          <tr>
            <th class='controls' rowspan=2>
              <label><input type='checkbox' ng-model="controller.filters.suggested" ng-true-value="false" ng-false-value="true"/> New</label>
              <label><input type='checkbox' ng-model="controller.filters.saved" ng-true-value="false" ng-false-value="true"/> Saved</label>
              <label><input type='checkbox' ng-model="controller.filters.removed" ng-true-value="false" ng-false-value="true"/> Removed</label>
            </th>
            <th class='text' rowspan=2 ng-click="controller.sort('text')">
              <a class='sort-link'>
                <i class='fa fa-caret-down' ng-if="controller.sort_column == 'text' && controller.sort_desc"></i>
                <i class='fa fa-caret-up' ng-if="controller.sort_column == 'text' && !controller.sort_desc"></i>
                Macro Suggestion Text
              </a>
            </th>
            <th class='usage' colspan="4">Usage</th>
            <th class='nearest-macro-distance' rowspan=2 ng-click="controller.sort('nearest_macro_distance')">
              <div class='tooltip-item'>
                <a class='sort-link'>
                  <i class='fa fa-caret-down' ng-if="controller.sort_column == 'nearest_macro_distance' && controller.sort_desc"></i>
                  <i class='fa fa-caret-up' ng-if="controller.sort_column == 'nearest_macro_distance' && !controller.sort_desc"></i>
                  Similarity to Existing Macro
                </a>
                <p class='tooltip'>
                  Lower values indicates greater uniqueness compared to existing macros
                </p>
              </div>
            </th>
          </tr>
          <tr>
            <th class='num-tickets' ng-click="controller.sort('num_tickets')">
              <a class='sort-link'>
                <i class='fa fa-caret-down' ng-if="controller.sort_column == 'num_tickets' && controller.sort_desc"></i>
                <i class='fa fa-caret-up' ng-if="controller.sort_column == 'num_tickets' && !controller.sort_desc"></i>
                {{controller.ticketsColumnLabel()}}
              </a>
            </th>
            <th class='num-agents' ng-click="controller.sort('num_agents')">
              <a class='sort-link'>
                <i class='fa fa-caret-down' ng-if="controller.sort_column == 'num_agents' && controller.sort_desc"></i>
                <i class='fa fa-caret-up' ng-if="controller.sort_column == 'num_agents' && !controller.sort_desc"></i>
                Agents
              </a>
            </th>
            <th class='earliest-reply-date' ng-click="controller.sort('earliest_reply_date')">
              <a class='sort-link'>
                <i class='fa fa-caret-down' ng-if="controller.sort_column == 'earliest_reply_date' && controller.sort_desc"></i>
                <i class='fa fa-caret-up' ng-if="controller.sort_column == 'earliest_reply_date' && !controller.sort_desc"></i>
                First
              </a>
            </th>
            <th class='latest-reply-date' ng-click="controller.sort('latest_reply_date')">
              <div class='tooltip-item'>
                <a class='sort-link'>
                  <i class='fa fa-caret-down' ng-if="controller.sort_column == 'latest_reply_date' && controller.sort_desc"></i>
                  <i class='fa fa-caret-up' ng-if="controller.sort_column == 'latest_reply_date' && !controller.sort_desc"></i>
                  Last
                </a>
                <p class='tooltip'>
                  Last time seen before these suggestions were generated
                </p>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="macro_suggestion in controller.filterAndSortCommonReplyMacroSuggestions()" id='macro-suggestion-{{macro_suggestion.id}}'>
            <td class='controls'>
              <p class='spin-container' ng-if="macro_suggestion.show_spinner">
                <i class='fa fa-spinner fa-spin'></i>
              </p>
              <span ng-if="!macro_suggestion.show_spinner">
                <a href="#" ng-click="controller.showModal(macro_suggestion, '.create-form-modal')"><i class='fa fa-plus-circle'></i>&nbsp;Create</a><br />
                <a href="#" ng-if="macro_suggestion.state != 'saved'" ng-click="controller.setState(macro_suggestion, 'saved')"><i class='fa fa-star'></i>&nbsp;Save</a>
                <a href="#" ng-if="macro_suggestion.state == 'saved'" ng-click="controller.setState(macro_suggestion, 'suggested')" class='saved'><i class='fa fa-star'></i>&nbsp;Saved</a>
                <br />
                <a href="#" ng-if="macro_suggestion.state != 'removed'" ng-click="controller.setState(macro_suggestion, 'removed')"><i class='fa fa-times-circle'></i>&nbsp;Remove</a>
                <a href="#" ng-if="macro_suggestion.state == 'removed'" ng-click="controller.setState(macro_suggestion, 'suggested')" class='removed'><i class='fa fa-times-circle'></i>&nbsp;Removed</a>
              </span>
            </td>
            <td class='text'>
              <div class='tooltip-item'>
                <div class='collapsed-macro-text' ng-click="controller.showModal(macro_suggestion, '.macro-modal')">
                  <span class='monospace' ng-bind-html="controller.substituteText(macro_suggestion, controller.text_preview_length)"></span>
                  <span ng-if="macro_suggestion.text.length > controller.text_preview_length">&hellip;</span>
                  <a href='#' class='more'>More</a>
                </div>
                <p class='tooltip'>
                  Text highlighted in blue tends to vary between individual replies.
                  This should be taken into account when creating the new macro.
                </p>
              </div>
            </td>
            <td class='num-tickets'>{{ macro_suggestion.num_tickets }}</td>
            <td class='num-agents'>{{ macro_suggestion.num_agents }}</td>
            <td class='earliest-reply-date'>{{ controller.humanizeDateString(macro_suggestion.earliest_reply_date) }}</td>
            <td class='latest-reply-date'>
              <div class='tooltip-item'>
                {{ controller.humanizeDateString(macro_suggestion.latest_reply_date) }}
                <p class='tooltip'>
                  Last time seen before these suggestions were generated
                </p>
              </div>
            </td>
            <td class='nearest-macro-distance' ng-click="controller.showModal(macro_suggestion, '.nearest-macro-modal')">
              <div class='tooltip-item'>
                <span class="{{controller.distanceClass(macro_suggestion.nearest_macro_distance)}}">
                  {{ controller.distanceScale(macro_suggestion.nearest_macro_distance) }}
                </span>
                <br />
                <a class='show'>Show</a>
                <p class='tooltip'>
                  Lower values indicates greater uniqueness compared to existing macros
                </p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div id='multiple-macros' ng-if="controller.macro_suggestion_table_type == 'multiple-macros'">
    <table class='macro-suggestions-table'>
      <thead>
        <tr>
          <th class='controls' rowspan="2">
            <label><input type='checkbox' ng-model="controller.filters.suggested" ng-true-value="false" ng-false-value="true"/> New</label>
            <label><input type='checkbox' ng-model="controller.filters.saved" ng-true-value="false" ng-false-value="true"/> Saved</label>
            <label><input type='checkbox' ng-model="controller.filters.removed" ng-true-value="false" ng-false-value="true"/> Removed</label>
          </th>
          <th class='text' rowspan="2" ng-click="controller.sort('text')">
            <a class='sort-link'>
              <i class='fa fa-caret-down' ng-if="controller.sort_column == 'text' && controller.sort_desc"></i>
              <i class='fa fa-caret-up' ng-if="controller.sort_column == 'text' && !controller.sort_desc"></i>
              Macro Suggestion Text
            </a>
          </th>
          <th class='usage' colspan="3">Usage</th>
        </tr>
        <tr>
          <th class='num-tickets' ng-click="controller.sort('num_tickets')">
            <a class='sort-link'>
              <i class='fa fa-caret-down' ng-if="controller.sort_column == 'num_tickets' && controller.sort_desc"></i>
              <i class='fa fa-caret-up' ng-if="controller.sort_column == 'num_tickets' && !controller.sort_desc"></i>
              Closed using combination of both macros
            </a>
          </th>
          <th colspan='2' class='macros' ng-click="controller.sort('macro0_count')">
            <a class='sort-link'>
              <i class='fa fa-caret-down' ng-if="controller.sort_column == 'macro0_count' && controller.sort_desc"></i>
              <i class='fa fa-caret-up' ng-if="controller.sort_column == 'macro0_count' && !controller.sort_desc"></i>
              Macros
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="macro_suggestion in controller.filterAndSortMultipleMacroSuggestions()" id='macro-suggestion-{{macro_suggestion.id}}'>
          <td class='controls'>
            <p class='spin-container' ng-if="macro_suggestion.show_spinner">
              <i class='fa fa-spinner fa-spin'></i>
            </p>
            <span ng-if="!macro_suggestion.show_spinner">
              <a href="#" ng-click="controller.showModal(macro_suggestion, '.create-form-modal')"><i class='fa fa-plus-circle'></i>&nbsp;Create</a><br />
              <a href="#" ng-if="macro_suggestion.state != 'saved'" ng-click="controller.setState(macro_suggestion, 'saved')"><i class='fa fa-star'></i>&nbsp;Save</a>
              <a href="#" ng-if="macro_suggestion.state == 'saved'" ng-click="controller.setState(macro_suggestion, 'suggested')" class='saved'><i class='fa fa-star'></i>&nbsp;Saved</a>
              <br />
              <a href="#" ng-if="macro_suggestion.state != 'removed'" ng-click="controller.setState(macro_suggestion, 'removed')"><i class='fa fa-times-circle'></i>&nbsp;Remove</a>
              <a href="#" ng-if="macro_suggestion.state == 'removed'" ng-click="controller.setState(macro_suggestion, 'suggested')" class='removed'><i class='fa fa-times-circle'></i>&nbsp;Removed</a>
            </span>
          </td>
          <td class='text'>
            <div class='collapsed-macro-text' ng-click="controller.showModal(macro_suggestion, '.macro-modal')">
              <span class='monospace' ng-bind-html="controller.substituteText(macro_suggestion, controller.text_preview_length)"></span>
              <span ng-if="macro_suggestion.text.length > controller.text_preview_length">&hellip;</span>
              <a href='#' class='more'>More</a>
            </div>
          </td>
          <td class='num-tickets'>
            {{ macro_suggestion.num_tickets }}
          </td>

          <td colspan='2' class='macros' ng-click="controller.showModal(macro_suggestion, '.existing-macros-modal')">
            {{ macro_suggestion.macro0_title }}<br /><br />
            {{ macro_suggestion.macro1_title }}
            <br /><a class='show' style='text-align: center; display: block;'>Show</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="macro-suggestion-modals-{{macro_suggestion.id}}" ng-repeat="macro_suggestion in controller.allMacroSuggestions()">

    <div class='macro-suggestion-modal create-form-modal'>
      <div class='background'></div>
      <div class='content-container'>
        <div class='content' ng-if="controller.client.data_source.name == 'servicecloud'">
          <a class='close' ng-click="controller.closeModals()"><i class='fa fa-close'></i></a>
          <p class='flash-error' ng-if="macro_suggestion.modal_error">{{macro_suggestion.modal_error}}</p>
          <h2>Create Macro</h2>
          <p>Please follow these steps to create new macro in your Salesforce org</p>
          <h5>Step 1: Copy proposed text for your new macro</h5>
          <textarea class='create-text' ng-disabled="true">{{macro_suggestion.text.trim()}}</textarea>
          <h5>Step 2: Create email template</h5>
          <p>Click <a href="{{controller.createNewEmailTemplateLink()}}" rel="noopener" target="_blank">here</a> to create new email template in your Salesforce org. Paste proposed text into Html Value and Text Body fields of your email template.</p>
          <h5>Step 3: Create macro</h5>
          <p>Click <a href="{{controller.createNewMacroLink()}}" rel="noopener" target="_blank">here</a> to create new macro in your Salesforce org. Add "Apply Email Template" instruction to your macro that uses email template created in step 2.</p>

          <div class='form-content'>
              <button ng-click="controller.create(macro_suggestion)">Mark macro as created</button>
              or <a ng-click="controller.closeModals()">Cancel</a>
          </div>
        </div>
        <div class='content' ng-if="controller.client.data_source.name == 'zendesk'">
          <a class='close' ng-click="controller.closeModals()"><i class='fa fa-close'></i></a>
          <p class='flash-error' ng-if="macro_suggestion.modal_error">{{macro_suggestion.modal_error}}</p>
          <h2>Create Macro</h2>
          <p class='tagline'>This will create a new, disabled macro in your Zendesk account. You will need to add other actions for this macro as you see fit.</p>
          <div class='form-content'>
            <label>Title<input type="text" ng-disabled="macro_suggestion.show_spinner" class="create-title" /></label>
            <label>Macro Text<textarea class='create-text' ng-disabled="macro_suggestion.show_spinner">{{macro_suggestion.text}}</textarea></label>
            <div ng-if="macro_suggestion.show_spinner">
              <i class="fa fa-spinner fa-spin"></i> Creating ...
            </div>
            <div ng-if="!macro_suggestion.show_spinner">
              <button ng-click="controller.create(macro_suggestion)">Create</button>
              or <a ng-click="controller.closeModals()">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='macro-suggestion-modal macro-modal'>
      <div class='background'></div>
      <div class='content-container'>
        <div class='content'>
          <a class='close' ng-click="controller.closeModals()"><i class='fa fa-close'></i></a>
          <table>
            <tr>
              <td>
                <h2>Macro Suggestion</h2>
                <p class="monospace new-line-text" ng-bind-html="controller.substituteText(macro_suggestion, false)"></p>
              </td>
              <td>
                <a href="{{controller.clusterTicket0Link(macro_suggestion)}}" rel="noopener" target="_blank">{{controller.viewLinkLabel()}}</a>
                <h2>Reply Example</h2>
                <p class="monospace new-line-text">{{macro_suggestion.cluster_ticket0_reply.trim()}}</p>
              </td>
            </tr>
          </table>
          <div style='text-align: right;'>
            <button ng-click="controller.closeModals()">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class='macro-suggestion-modal nearest-macro-modal' ng-if="macro_suggestion.type == 'common_replies'">
      <div class='background'></div>
      <div class='content-container'>
        <div class='content'>
          <a class='close' ng-click="controller.closeModals()"><i class='fa fa-close'></i></a>
          <table>
            <tr>
              <td>
                <h2>Macro Suggestion</h2>
                <p class="modal-distance">&nbsp;</p>
                <p><strong>&nbsp;</strong></p>
                <p class="monospace new-line-text" ng-bind-html="controller.substituteText(macro_suggestion, false)"></p>
              </td>
              <td>
                <a href="{{controller.macroEditLink(macro_suggestion.nearest_macro_foreign_id)}}" rel="noopener" target="_blank">{{controller.viewLinkLabel()}}</a>
                <h2>Nearest Macro</h2>
                <p class="modal-distance {{controller.distanceClass(macro_suggestion.nearest_macro_distance)}}">
                  Similarity of suggestion to closest macro: {{ controller.distanceScale(macro_suggestion.nearest_macro_distance) }}
                </p>
                <p><strong>{{macro_suggestion.nearest_macro_title}}</strong></p>
                <p class="monospace new-line-text">{{macro_suggestion.nearest_macro_text}}</p>
              </td>
            </tr>
          </table>
          <div style='text-align: right;'>
            <button ng-click="controller.closeModals()">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class='macro-suggestion-modal existing-macros-modal'ng-if="macro_suggestion.type == 'multiple_macros'">
      <div class='background'></div>
      <div class='content-container'>
        <div class='content'>
          <a class='close' ng-click="controller.closeModals()"><i class='fa fa-close'></i></a>
          <table>
            <tr>
              <td>
                <h2>Existing Macro #1</h2>
                <p><a href="{{controller.macroEditLink(macro_suggestion.macro0_foreign_id)}}" rel="noopener" target="_blank">{{controller.viewLinkLabel()}}</a></p>
                <p><strong>{{macro_suggestion.macro0_title}}</strong></p>
                <p class="monospace new-line-text">{{macro_suggestion.macro0_text}}</p>
              </td>
              <td>
                <h2>Existing Macro #2</h2>
                <p><a href="{{controller.macroEditLink(macro_suggestion.macro1_foreign_id)}}" rel="noopener" target="_blank">{{controller.viewLinkLabel()}}</a></p>
                <p><strong>{{macro_suggestion.macro1_title}}</strong></p>
                <p class="monospace new-line-text">{{macro_suggestion.macro1_text}}</p>
              </td>
            </tr>
          </table>
          <div style='text-align: right;'>
            <button ng-click="controller.closeModals()">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<div ng-include="'/footer/copyright.html'"></div>
