// AnswerIQ.com Confidential and Proprietary

.huge-center-notice {
  margin: 8em 0 5em 0;

  h1 {
    text-align: center; font-size: 200%;
  }
}

a[ng-click]{
  cursor: pointer;
}

#macro-suggestions {

  .download-csv {
    cursor: pointer;
  }

  h1 {
    margin: 1em 0 0 0;
  }
  .tagline {
    font-style: italic;
    color: #aaa;
  }
  .tooltip {
    width: 20em;
    max-width: 20em;
    font-style: normal;
    font-weight: normal;
  }
  th.nearest-macro-distance .tooltip {
    left: -102px;
  }
  th.latest-reply-date .tooltip {
    left: -123px;
  }
  td.latest-reply-date .tooltip {
    left: -108px;
  }
  td.nearest-macro-distance .tooltip {
    left: -120px;
  }
  .low-distance {
    color: green;
    font-weight: bold;
  }
  .high-distance {
    color: red;
  }

  .monospace {
    font-family: monospace;
    font-size: 120%;

    .placeholder {
      background: rgba(34, 153, 221, 0.2);
      padding: 1px 3px;
      margin: -1px;
      border-radius: 4px;
    }
  }
  .new-line-text {
    white-space: pre-line;
    word-break: break-word;
  }
  .spin-container {
    text-align: center;
    margin: 0;
  }
}

#type-switch {
  margin: 0 0 .5em 0;
  padding: 0;

  td {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: bottom;

    &.genereated {
      text-align: left;
    }

    &.controls {
      text-align: right;
    }
  }
}

.macro-suggestions-table {
  font-size: 95%;
  margin: 0;

  th, td {
    padding: .5em;
  }
  th {
    text-align: center;
    background: #eee;
    border: none;
  }
  td {
    text-align: center;
  }
  th.text {
    width: 50%;
  }
  th.num-agents,
  th.earliest-reply-date,
  th.latest-reply-date,
  th.nearest-macro-distance {
    width: 10%;
  }
  th.controls {
    width: 10%;

    label,
    input {
      margin: 0;
    }
    input {
      position: relative;
      bottom: 1px;
    }
  }
  th.text,
  th.usage,
  th.num-tickets,
  th.nearest-macro-distance {
    border-left: 1px solid #ccc;
  }
  tbody tr:first-child td {
    border-top: 1px solid #ccc;
  }
  .controls,
  td.text {
    text-align: left;
  }
  .controls,
  th.text,
  th.num-tickets,
  th.num-agents,
  th.earliest-reply-date,
  th.latest-reply-date,
  th.nearest-macro-distance,
  th.macros,
  td.text,
  td.nearest-macro-distance,
  td.macros,
  td.show-macros {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
  th.num-tickets,
  th.num-agents,
  th.earliest-reply-date,
  th.latest-reply-date,
  th.macros {
    font-style: italic;
  }
  .more {
    color: blue;
  }
  td.macros {
    text-align: left;
    vertical-align: top;
  }
  td.controls a {
    text-decoration: none;
  }
  .saved i {
    color: gold;
  }
  .removed i {
    color: red;
  }
  .sort-link {
    text-decoration: none;
    color: #4b4e57;
  }

}

.macro-suggestion-modal {
  display: none;

  .background {
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
  }
  .content-container {
    position: absolute;
    left: 0;
    z-index: 1002;
    width: 100%;
  }
  .content {
    padding: 2em;
    margin: 0 auto;
    background: #fff;
  }
  .close {
    float: right;
    font-size: 150%;
  }
  table td {
    vertical-align: top;
  }
  h2 {
    margin-bottom: .5em;
  }
  .create-form-modal h2 {
    margin-bottom: 0;
  }
}

.macro-modal .content,
.nearest-macro-modal .content,
.existing-macros-modal .content {
  width: 1000px
}
.create-form-modal .content {
  width: 550px;
}

.create-form-modal {
  .form-content {
    margin: 0 auto;
  }
  textarea {
    font-family: monospace;
    font-size: 120%;
    height: 400px;
  }
}

.macro-modal a,
.nearest-macro-modal a {
  float: right;
}
