// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#signup-contact {
  label {
    margin-bottom: 0;
  }

  .input {
    margin: 0 $base-spacing;

    .hs-input {
      @include placeholder {
        color: $white;
      }
    }
  }

  .hs-richtext {
    margin-bottom: $base-spacing;
  }

  .button {
    float: right;
    margin: $base-spacing;
  }

  .hs-form-required {
    position: relative;
    top: -2px;
    left: -2px;
    color: $red;
    font-size: .8em;
  }
}
