<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="header" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="logo">
      <a ui-sref="homepage"><img src="/header/logo-white.png" alt="Wise Logo"></a>
    </div>
  </div>
</div>

<div ng-include="'/flash/flash.html'"></div>
