<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="header" ng-controller="HeaderCtrl">
  <div class="container">
    <div class="logo">
      <img src="/header/logo-white.png" alt="Wise Logo">
    </div>
    <div class="navigation">
      <a href="#">Product</a>
      <a href="#">Learn</a>
      <a href="#">Company</a>
      <a href="#">Blog</a>
      <a href="#">Log In</a>
      <a href="#" class="signup danger">Sign Up</a>
    </div>
  </div>
</div>

<div ng-include="'/flash/flash.html'"></div>
