// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#header {
  background-color: #613392;

  .container {
    position: relative;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 9px;
    max-width: $max-width;
    min-height: 80px;

    @include media($tablet-grid) {
      margin-right: $base-spacing;
      margin-left: $base-spacing;
    }
  }

  .logo img {
    margin-bottom: 8px;
    width: 222px;
    height: 57px;
  }

  .bars {
    display: none;
    position: absolute;
    top: 22px;
    right: 0;
    cursor: pointer;
    color: $white;

    @include media($mobile-grid) { display: block; }
  }

  .navigation {
    position: absolute;
    top: 28px;
    right: 0;
    font-size: $base-font-size * 1.1;

    @include media($tablet-grid) {
      top: 32px;
      font-size: $base-font-size;
    }

    @include media($mobile-grid) {
      display: none;
      position: static;

      &.shownav { display: block; }
    }

    a {
      display: inline-block;
      margin-left: $base-spacing * 1.5;
      text-decoration: none;
      color: $white;

      @include media($tablet-grid) {
        margin-left: $base-spacing;
      }

      @include media($mobile-grid) {
        display: block;
        margin-top: $base-spacing * 0.5;
        margin-bottom: $base-spacing * 0.5;
        margin-left: 0;
        font-size: $base-font-size * 1.2;
      }

      &:hover {
        color: lighten($blue, 40%);
      }
    }

    .signup {
      @extend .button !optional;
    }
  }
}
