<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="header" ng-controller="LoggedInHeaderCtrl as header">
  <div class="container">
    <div class="logo">
      <a ui-sref="routing">
        <img src="/header/logo-white.png" alt="Wise Logo">
      </a>
    </div>
    <div class="navigation">
      <a ui-sref="admin.client.fields({clientId:header.clientId})"
         ng-if="header.client">Admin (viewing {{ header.client.name }})</a>
      <a ui-sref="logout">Logout</a>
    </div>
  </div>
</div>

<div ng-include="'/flash/flash.html'"></div>
