// AnswerIQ.com Confidential and Proprietary

@import 'imports';

.tabs {
  border-bottom: $base-border;
  background-color: #fafafa;

  &.inpage {
    background-color: transparent;
    // padding-right: $base-spacing;
    // padding-left: $base-spacing;

    li {
      @include border-top-radius($base-border-radius);
      border-top: 1px solid transparent;

      &.active {
        border-top: $base-border;
      }
    }
  }

  li {
    display: block;
    float: left;
    margin-right: $base-spacing/2;
    margin-bottom: -1px;
    border-right: 1px solid transparent;
    border-bottom: $base-border;
    border-left: 1px solid transparent;
    padding: $base-spacing / 2;
    font-size: 1em;

    &:hover {
      background-color: $very-light-gray;
    }

    &.active {
      border-right: $base-border;
      border-bottom: 1px solid $white;
      border-left: $base-border;
      background-color: #fff;

      &:hover {
        background-color: $white;
      }
    }

    .fa {
      margin-right: .75em;
    }
  }

  a {
    text-decoration: none;
    color: $base-font-color;
  }
}
