<!-- AnswerIQ.com Confidential and Proprietary -->

<div class="tabs" ng-controller="NavigationCtrl as nav">
  <div class="grid-container">
    <ul>
      <a ui-sref="routing">
        <li ng-class="{active: nav.isActive('routing')}">
          <i class="fa fa-gear"></i>Routing
        </li>
      </a>

      <a ui-sref="response">
        <li ng-class="{active: nav.isActive('response')}">
          <i class="fa fa-envelope-square"></i>Response
        </li>
      </a>

      <a ui-sref="macro-suggestions">
        <li ng-class="{active: nav.isActive('macro-suggestions')}">
          <i class="fa fa-commenting"></i>Macro Insights
        </li>
      </a>

      <a ui-sref="admin.clients" ng-if="nav.admin">
        <li ng-class="{active: nav.isActive('admin')}">
          <i class="fa fa-briefcase"></i>Admin
        </li>
      </a>
    </ul>
  </div>
</div>
