<!-- AnswerIQ.com Confidential and Proprietary -->

<label>
  <input class="hidden" type="radio" name="{{name}}" value="asc" ng-model="direction">
  <span class="toggle-item">
    <i class="fa fa-arrow-circle-up"></i>
  </span>
</label>
<label>
  <input class="hidden" type="radio" name="{{name}}" value="desc" ng-model="direction">
  <span class="toggle-item">
    <i class="fa fa-arrow-circle-down"></i>
  </span>
</label>
