// AnswerIQ.com Confidential and Proprietary

@import 'imports';

sort-toggle {
  @include border-top-radius($base-border-radius);
  @include clearfix;
  display: block;
  border-bottom: $base-border;
  width: 100%;
  overflow: hidden;

  label {
    float: left;
    margin-bottom: 0;
    width: 50%;

    .hidden {
      display: none;
    }

    // A nested span so we can do + selector when checked.
    .toggle-item {
      display: inline-block;
      border-right: $base-border;
      background: $white;
      cursor: pointer;
      padding: .75em 1em;
      width: 100%;
      text-align: center;
      line-height: 1;
      font-weight: normal;
    }

    &:hover {
      background-color: $very-light-gray;
    }

    &:last-child .toggle-item {
      border-right: 0;
    }

    input:checked + .toggle-item {
      background: $green;
      color: $white;
    }
  }
}
