// AnswerIQ.com Confidential and Proprietary

@import 'imports';

.dropdown {
  display: block;
  position: relative;

  dropdown-button {
    display: block;
    cursor: pointer;
    padding-right: $base-spacing;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:after {
      position: absolute;
      right: 1em;
      content: '\25BE';
    }
  }

  &:hover {
    background-color: $very-light-gray;
  }

  dropdown-body {
    display: none;
    position: absolute;
    top: 2.5em;
    left: -2px;
    z-index: 99999;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
    background: $white;
    cursor: pointer;
    width: 100%;
    color: lighten($base-font-color, 10%);

    @include media($mobile-grid) {
      top: 2.5em;
      left: 0;
    }

    .dropdown-item {
      display: block;
      border-bottom: $base-border;
      cursor: pointer;
      padding: 12px ($base-spacing / 2);
      text-decoration: none;
      line-height: 1.2;

      &:hover {
        background: $very-light-gray;
      }

      &.checked:before {
        display: inline-block;
        float: right;
        color: $green;
        font: normal normal normal 14px/1 FontAwesome;
        content: '\f00c';
      }

      &.secondary {
        color: lighten($base-font-color, 20%);
        font-size: .9em;
        font-weight: 300;
      }
    }
  }

  &.open dropdown-body {
    display: block;
  }
}
