<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/logged_in_header.html'"></div>
<div ng-include="'/header/navigation.html'"></div>

<div id="routing" class="grid-container">

  <h1>Routing Settings</h1>
  <div class="breadcrumb">Adjust how predictions are made.</div>

  <div ng-if="controller.loading" class='huge-center-notice'>
    <h1><i class='fa fa-spinner fa-spin'></i></h1>
  </div>

  <div ng-if="!controller.loading && !controller.fields.length" class='huge-center-notice'>
    <h1>No routing models. Please contact your AnswerIQ liasion.</h1>
  </div>

  <div class="model-table" ng-if="!controller.loading && controller.fields.length">
    <div class="model-selector">

      <salvation-bar visible="controller.saved"></salvation-bar>

      <div class="models">
        <div class="model"
             ng-click="controller.open = field"
             ng-repeat="field in controller.fields"
             ng-if="field.enabled"
             ng-class="{open: field == controller.open,
                       enabled: field.enabled}">

          <i class="check fa fa-check present"
             ng-class="{checked: field.enabled,
                        'fa-check': !field.publish_predictions && !field.publish_to_field,
                        'fa-cloud-upload': field.publish_predictions || field.publish_to_field}"></i>

          <i ng-if="controller.open != field" class="arrow fa fa-caret-right"></i>

          <div class="model-name">
            {{ field.name }}
          </div>

        </div>
      </div>


      <div class="details options" style="position:relative">
        <div ng-repeat="field in controller.fields" ng-if="field == controller.open">
          <h2>
            {{field.name}}
          </h2>

          <div ng-if="field.enabled">

            <div class="switch">
              <label class="label-switch">
                <input id="{{field.id}}-publish"
                       type="checkbox"
                       ng-model="field.publish_predictions"
                       ng-change="controller.setPublished(field)"/>
                <div class="checkbox"></div>
              </label>
              <label>
                Write predictions to {{controller.client.data_source.display_name}} as tags
              </label>
            </div>

            <div class="switch" ng-if="controller.client.data_source.display_name == 'Zendesk'">
              <label class="label-switch">
                <input id="{{field.id}}-publish-to-field"
                       type="checkbox"
                       ng-model="field.publish_to_field"
                       ng-change="controller.setPublishToField(field)"/>
                <div class="checkbox"></div>
              </label>
              <label>
                Write predictions to the {{controller.client.data_source.display_name}} field
              </label>
            </div>

            <hr />
          </div>
          <p>For each ticket, the {{ field.name }} field can be set to one of the following:</p>
          <ul>
            <li class="option" ng-repeat="option in field.options">
              {{ option.name }}
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'/footer/copyright.html'"></div>
