// AnswerIQ.com Confidential and Proprietary

@import 'imports';

macro-prediction-status.not-confident .prediction-text {
  opacity: .5;
}

macro-prediction-status.tooltip-item {
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  background: $white;

  i {
    margin-right: .5em;
  }

  h5 {
    @include border-top-radius($base-border-radius);
    border-bottom: $base-border;
    padding: 7px $base-spacing;
    text-align: center;
  }

  .prediction-text {
    padding: 7px ($base-spacing / 2);
  }

  .tooltip {
    margin-left: -6em;
    padding: 0;
    width: 16em;

    p {
      padding: $base-spacing / 2;
    }
  }
}
