<!-- AnswerIQ.com Confidential and Proprietary -->

<!-- We don't have a prediction -->
<div ng-if="!predictedMacro" class="prediction-text no-prediction">
  <i class="fa fa-question-circle open"></i>
  None
</div>

<!-- We have a prediction -->
<div ng-if="predictedMacro">

  <!-- Macro was used -->
  <div ng-if="observedMacro" class="prediction-text">
    Rank of truth: {{ recommendation.observation_rank }}
    <div class="tooltip">
      <h5>{{ observedMacro.title }}</h5>
      <p>{{ observedMacro.getBody() }}</p>
    </div>
  </div>

  <!-- No Macro used, show our top prediction -->
  <div ng-if="!observedMacro" class="prediction-text">
    {{ predictedMacro.title }}
    <div class="tooltip">
      <h5>{{ predictedMacro.title }}</h5>
      <p>{{ predictedMacro.getBody() }}</p>
    </div>
  </div>

</div>
