<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div ng-controller="ForgottenPasswordCtrl as password" id="login" class="centered-box">
    <div class="title">
      <h4>
        Forgotten Password
      </h4>
    </div>
    <form ng-submit="password.formSubmit()" ng-hide="password.sent">
      <label>
        Account Email
        <input type="text" ng-model="password.email">
      </label>
      <button class="primary">
        Send Reset Email
      </button>
    </form>
    <div ng-show="password.sent">
      <label>
        You'll receive an email shortly, containing a link to reset your
        password.
      </label>
    </div>
  </div>
</div>
