<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div ng-controller="LoginCtrl as login" id="login" class="centered-box">
    <div class="title">
      <h4>
        Login
      </h4>
    </div>
    <form ng-submit="login.formSubmit()">
      <label>
        Email
        <input type="text" ng-model="login.email" autofocus>
      </label>
      <label>
        Password
        <input type="password" ng-model="login.password">
      </label>
      <div class="no-login-links">
        <a id="signuplink" ui-sref="signup.choose-support-system">Sign up</a> or
        <a id="recoverpasswordlink" ui-sref="forgotten-password">recover your password</a>
      </div>
      <button class="primary">
        Login
      </button>
    </form>
  </div>
</div>

<div ng-include="'/footer/copyright.html'"></div>
