// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#login {
  min-height: 160px;

  button,
  .button {
    float: right;
    margin: $base-spacing;
  }

  .no-login-links {
    float: left;
    margin: $base-spacing * 1.1;
    padding: 7px 0;
    font-size: 0.9 * $base-font-size;

    #signuplink {
      color:#595959;
    }
    #recoverpasswordlink{
      color:#595959;
    }
  }
}
