<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div ng-controller="ResetPasswordCtrl as password" id="login" class="centered-box">
    <div class="title">
      <h4>
        Reset Password
      </h4>
    </div>
    <form ng-submit="password.formSubmit()" ng-hide="password.sent">
      <label>
        Please enter your new password
        <input type="password" ng-model="password.password">
      </label>
      <button class="primary">
        Reset password
      </button>
    </form>
    <div ng-show="password.sent">
      <label>
        Your password has been reset
      </label>
      <a class="button" ui-sref="login">
        Return to login
      </a>
    </div>
  </div>
</div>
