// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#choose-support-system {
  .choices {
    padding: $base-spacing;
    width: 100%;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .choice {
    display: table;
    margin-bottom: $base-spacing;
    border: $base-border;
    width: 100%;
  }

  a {
    display: table-row;
    background-color: $white;
    width: 100%;
    height: 5em;
    text-decoration: none;

    &:hover {
      .text,
      .fa {
        background-color: $very-light-gray;
      }
    }

    .text {
      display: table-cell;
      padding: 0 $base-spacing;
      width: 60%;
      vertical-align: middle;

    }

    .logo {
      display: table-cell;
      border-right: $base-border;
      background-color: #fafafa;
      vertical-align: middle;
      text-align: center;
      color: $light-gray;
      font-weight: bold;

      img {
        width: 75%;
      }
    }

    .fa {
      display: table-cell;
      padding-right: $base-spacing / 2;
      width: 5%;
      vertical-align: middle;
    }
  }
}
