<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div id="signup">

    <div class="grid-container">
      <ol class="progress-steps" data-total-steps="3">
        <li class="progress-step-todo">1. Connect</li>
        <li class="progress-step-todo">2. Account</li>
        <li class="progress-step-todo">3. Finalize</li>
      </ol>

      <p style='text-align: center;'>
        AnswerIQ is a data-driven application that optimizes your customer support team.<br />
        In less than 2 minutes, your application will be configured in 3 easy steps.
      </p>
    </div>

    <div class="centered-box">
      <div id="choose-support-system">
        <div class="title">
          <h4>
            Choose Your Support System
          </h4>
        </div>
        <p>
          AnswerIQ securely connects to your support data.<br />
          Tell us which support system you use:
        </p>
        <div class="choices">
          <div class="choice">
            <a class="primary" ui-sref="signup.connect-to-zendesk">
              <div class="logo"><img src="/signup/images/zendesk-logo.png"></div>
              <div class="text">Zendesk</div>

              <i class="fa fa-angle-right"></i>
            </a>
          </div>

          <div class="choice">
            <a class="primary" ui-sref="signup.connect-to-servicecloud">
              <div class="logo"><img src="/signup/images/service-cloud-logo.png"></div>
              <div class="text">Service Cloud</div>

              <i class="fa fa-angle-right"></i>
            </a>
          </div>

          <div class="choice">
            <a class="primary" ui-sref="signup.contact({formGUID:'7f7fcb6f-4ed0-473b-8cd9-784bed78f459'})">
              <div class="logo"><img src="/signup/images/freshdesk-logo.png"></div>
              <div class="text">Freshdesk</div>

              <i class="fa fa-angle-right"></i>
            </a>
          </div>

          <div class="choice">
            <a class="primary" ui-sref="signup.contact({formGUID:'62fb348a-e033-4de5-8dc7-1cfd3c63f1d7'})">
              <div class="logo"><img src="/signup/images/desk-logo.png"></div>
              <div class="text">Desk.com</div>

              <i class="fa fa-angle-right"></i>
            </a>
          </div>

          <div class="choice">
            <a class="primary" ui-sref="signup.contact">
              <div class="logo">other</div>
              <div class="text">Something Else</div>

              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
