// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#finalize {
  .animation {
    position: relative;
    margin: 2em 0 0 0;
//    width: 500px;
    height: 300px;

    @include media($mobile-grid) {
      width: 300px;
      height: 210px;
      font-size: .7em;
    }

    .logo {
      position: absolute;
      top: 53%;
      left: 36%;
      width: 20%;
    }

    .machine {
      position: absolute;
      top: 20%;
      left: 5%;
      background-color: $base-accent-color;
      width: 80%;
    }

    .ticket {
      position: absolute;
      top: 0;
      left: 11.5%;
      width: 10%;
      height: 30%;
      overflow: hidden;

      img {
        @include animation(ticket-fall 4s linear 0s infinite);
      }
    }

    .binary {
      position: absolute;
      top: 50%;
      right: 5%;
      width: 10%;
      height: 3em;
      overflow: hidden;

      .line {
        text-align: left;
        line-height: 1;
        font-family: Courier New;
        font-size: 1em;
      }

      .line-1 {
        @include animation(binary-slide 4s linear 0s infinite);
      }

      .line-2 {
        @include animation(binary-slide 4s linear -2s infinite);
      }

      .line-3 {
        @include animation(binary-slide 4s linear -3s infinite);
      }
    }
  }
}

@include keyframes(ticket-fall) {
  0% {
    @include transform(translateY(0));
    opacity: 0;
  }

  20% {
    @include transform(translateY(0));
    opacity: 1;
  }

  100% {
    @include transform(translateY(200px));
  }
}

@include keyframes(binary-slide) {
  0% {
    @include transform(translateX(-200%));
  }

  100% {
    @include transform(translateX(0));
  }
}
