<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/logged_in_header.html'"></div>

<div class="grid-container">
  <div id="signup">

    <div class="grid-container">
      <ol class="progress-steps" data-total-steps="3">
        <li class="progress-step-done">1. Connect</li>
        <li class="progress-step-done">2. Account</li>
        <li class="progress-step-done">3. Finalize</li>
      </ol>

      <p style='text-align: center;'>
        AnswerIQ is a data-driven application that optimizes your customer support team.<br />
        In less than 2 minutes, your application will be configured in 3 easy steps.
      </p>
    </div>

    <div class="centered-box">
      <div id="finalize">
        <div class="title">
          <div class="animation">
            <div class="ticket">
              <img src="/signup/images/ticket.png" alt="Data Machine">
            </div>
            <div class="binary">
              <div class="line line-1">
                010111010010011010001000110000110101011
              </div>

              <div class="line line-2">
               111001011100011011001001110100100111
              </div>

              <div class="line line-3">
                010011101000100011000011010101100111111001011
              </div>
            </div>
            <div class="machine">
              <img src="/signup/images/machine.png" alt="Data Machine">
            </div>
            <div class="logo">
              <img src="/header/logo-white.png" alt="answeriq.com">
            </div>
          </div>
          <h4>Finalize</h4>
        </div>

        <form name="finalizeForm" ng-submit="controller.formSubmit()">
          <p>
            <h5>Your Application is now building ...</h5>
          </p>
          <p>
            Next, we'll connect with you to review and refine the Application
            to optimize its use within your Support organization.
          </p>
          <p>
            That's it! We're excited to get your application working.
          </p>

          <button class="primary" ladda="controller.loading" data-style="expand-left">
            Go to Dashboard <i class="fa fa-arrow-circle-right"></i>
          </button>
        </form>
      </div>
    </div>

  </div>
</div>
