<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div id="signup">

    <div class="grid-container">
      <ol class="progress-steps" data-total-steps="3">
        <li class="progress-step-done">1. Connect</li>
        <li class="progress-step-done">2. Account</li>
        <li class="progress-step-todo">3. Finalize</li>
      </ol>

      <p style='text-align: center;'>
        AnswerIQ is a data-driven application that optimizes your customer support team.<br />
        In less than 2 minutes, your application will be configured in 3 easy steps.
      </p>
    </div>

    <div class="centered-box">
      <div id="new-user">
        <div class="title">
          <h4>
            Create Your Account
          </h4>
        </div>

        <div>
          <p>
            Your AnswerIQ Account will be used to securely log into
            AnswerIQ Support for {{user.data_source_display_name}}.
            There you will be able to manage the application settings.
          </p>
        </div>

        <form name="signupForm" ng-submit="user.formSubmit()">
          <label>
            First Name
            <span ng-if="signupForm.givenName.$touched" class="validation-error">
              <span ng-if="signupForm.givenName.$error.required">
                Please enter a first name
              </span>
            </span>
            <input type="text" name="givenName" ng-model="user.givenName" required>
          </label>

          <label>
            Last Name
            <span ng-if="signupForm.surname.$touched" class="validation-error">
              <span ng-if="signupForm.surname.$error.required">
                Please enter a last name
              </span>
            </span>
            <input type="text" name="surname" ng-model="user.surname" required>
          </label>

          <label>
            Email
            <span ng-if="signupForm.email.$touched" class="validation-error">
              <span ng-if="signupForm.email.$error.required">
                Please enter an email address
              </span>
              <span ng-if="signupForm.email.$error.email">
                Please enter a valid email address
              </span>
            </span>
            <input type="email" name="email" ng-model="user.email" required>
          </label>

          <label>
            Phone Number
            <span ng-if="signupForm.phone.$touched" class="validation-error">
              <span ng-if="signupForm.phone.$error.required">
                Please enter a phone number
              </span>
              <span ng-if="!signupForm.phone.$error.required && !signupForm.phone.$valid">
                Please enter a valid phone number. If entering a non-U.S. number, include the international calling code for your area as well.
              </span>
            </span>

            <input type="tel" name="phone" ng-model="user.phone" default-area-code="1" required>
          </label>

          <label>
              Password
              <i class="fa fa-info-circle tooltip-item">
                  <div class="passwordhint tooltip">
                    <label class="passwordhint__label">Password Requirements</label>
                      <ol>
                          <li>At least eight characters</li>
                          <li>One lowercase letter</li>
                          <li>One uppercase letter</li>
                          <li>A number</li>
                          <li>Should not contain any part of your username</li>
                      </ol>
                  <div>
              </i>
            <span ng-if="signupForm.password.$touched" class="validation-error">
              <span ng-show="signupForm.password.$error.required">
                Please enter a password
              </span>
            </span>
            <input type="password" name="password" ng-model="user.password" required>
          </label>

          <label>
            <input type="checkbox" ng-model="user.terms" ng-true-value="true" required>
            I have read and accept the
            <a href="" ng-click="showTermsAndConditions =! showTermsAndConditions">
              Terms and Conditions</a>.
          </label>

          <div class="terms-and-conditions" ng-show="showTermsAndConditions">
            <ng-include src="'/signup/terms_and_conditions.html'">
          </div>

          <button ladda="user.loading" data-style="expand-left" ng-disabled="!signupForm.$valid" class="primary">
            Create Account <i class="fa fa-arrow-circle-right"></i>
          </button>

        </form>
      </div>
    </div>

  </div>
</div>
