// AnswerIQ.com Confidential and Proprietary

@import 'imports';

ol.progress-steps {
  margin: 3em 0 1.5em 0;
  padding: 0;
  list-style-type: none;

  &[data-total-steps='2'] li { width: 49%; }
  &[data-total-steps='3'] li { width: 33%; }
  &[data-total-steps='4'] li { width: 24%; }
  &[data-total-steps='5'] li { width: 19%; }
  &[data-total-steps='6'] li { width: 16%; }
  &[data-total-steps='7'] li { width: 14%; }
  &[data-total-steps='8'] li { width: 12%; }
  &[data-total-steps='9'] li { width: 11%; }

  li {
    display: inline-block;
    text-align: center;
    line-height: 3em;


    &.progress-step-done {
      border-bottom: 4px solid $green;
      color: $dark-gray;
    }

    &.progress-step-todo {
      border-bottom: 4px solid $light-gray;
      color: $medium-gray;
    }
  }
}
