// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#signup {

  .centered-box {
    margin-top: 1.5em;

    .title {
      margin-bottom: 1.5em;
    }

    h5 {
      margin-left: 1.5em;
    }

    p {
      margin-bottom: 0.75em;
    }

    div {
      margin-bottom: 1.5em;
    }
  }


  #terms-and-conditions {
    border-top: 1px solid $outline-gray;
    border-bottom: 1px solid $outline-gray;
    background: $very-light-gray;
    padding: $base-spacing;
    padding-right: $base-spacing * 2;
    height: 200px;
    overflow: scroll;

    ul {
      margin: 0;
      padding: 0;
      font-size: 0.8em;

      li {
        padding: 1em 0;
      }
    }
  }

  button {
    float: right;
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  &.servicecloud form {
    text-align: center;

    button { float: none; }
  }

  .api-key-switch {
    float: left;
    margin-top: $base-spacing * 1.5;
    margin-bottom: $base-spacing;
  }

  .subdomain {
    position: relative;

    input.with-subdomain {
      padding-right: 7em;
      text-align: right;
    }

    .overlay {
      position: absolute;
      top: 32px;
      right: 0;
      padding-right: 12px;
      width: 7em;
      text-align: right;
      color: $medium-gray;
      font-family: $form-font-family;
      font-size: $form-font-size;
      font-weight: normal;
    }
  }

  label {
    @include clearfix;
  }

  .passwordhint {
    width: 210px;
    margin-left: -100px;

    ol{
      list-style-type: decimal;
      text-align: left;
      margin-left: 18px;
    }

    &__label{
      margin: 0 0 5px 0;
    }
  }
}