<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="terms-and-conditions">
  <h5>
    ANSWERIQ SERVICE TERMS AND CONDITIONS FOR END USERS
  </h5>
  <ul>
    <li>
      PLEASE READ THIS END USER AGREEMENT (THIS "USER AGREEMENT")
      CAREFULLY BEFORE USING THE PROPRIETARY SOFTWARE APPLICATION AND
      OTHER TECHNOLOGY AVAILABLE FROM ANSWERIQ.COM (THE "SOFTWARE") AND ALL
      LINKED PAGES, CONTENT, AND COMPONENTS (COLLECTIVELY, THE
      “SERVICES”). BY CLICKING THE "I ACCEPT" BUTTON, CONTINUING TO USE
      THE SOFTWARE, YOU AGREE TO FOLLOW AND BE BOUND BY THE TERMS AND
      CONDITIONS OF THIS USER AGREEMENT. IF YOU ARE ENTERING INTO THIS
      AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU
      REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY TO THE
      TERMS AND CONDITIONS OF THIS USER AGREEMENT AND, IN SUCH EVENT,
      "YOU", "YOUR" OR "SUBSCRIBER" AS USED IN THIS USER AGREEMENT SHALL
      REFER TO SUCH ENTITY. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU
      DO NOT AGREE TO ALL THE TERMS AND CONDITIONS IN THIS USER
      AGREEMENT, YOU MUST SELECT THE "I DECLINE" BUTTON AND MAY NOT USE
      THE SERVICES.
    </li>
    <li>
      This User Agreement is between you and AnswerIQ. The terms of this
      User Agreement shall apply to use of the AnswerIQ Services.
      This User Agreement shall be referred to herein as the
      "Agreement". The terms of the Agreement shall control over any
      different or additional terms of any purchase order or other
      non-AnswerIQ ordering document, and no terms included in any such
      purchase order or other non-AnswerIQ ordering document shall apply
      to the Services.
    </li>
    <li>
      <em>1.</em> Right to Use the Services. AnswerIQ grants to you,
      during the subscription Term the nontransferable, nonexclusive,
      worldwide right to permit those individuals authorized by you or
      on your behalf, and who are your employees, agents or contractors
      ("Users"), to use the Services, all solely for your own internal
      business operations and subject to the terms of the Agreement. The
      Services are provided by AnswerIQ from a data center facility to
      which your Users have remote access. You acknowledge and agree
      that AnswerIQ shall own all right, title and interest in and to all
      intellectual property rights in the Services (including all
      derivatives or improvements thereof), and any suggestions,
      enhancement requests, feedback, recommendations or other
      information provided by you or any other party relating to the
      Services. You hereby do and shall make all assignments and take
      all acts necessary to accomplish the foregoing ownership. The
      rights granted to you in the Agreement are subject to all of the
      Usage Restrictions described in Section 2.
    </li>
    <li>
      <em>2.</em> Restrictions. The Services and any related
      documentation are protected by United States copyright law and
      international treaty provisions. Subscriber may not copy, modify,
      adapt, translate into any language, distribute, or create
      derivative works based on the Services without the prior written
      consent of Licensor. Subscriber may not sublicense, rent, lease,
      or lend the Services to any person or entity. Subscriber shall not
      use the Services in any manner that could damage, disable,
      overburden, impair or interfere with AnswerIQ’s provision
      of the Services. Subscriber may not access the Services if
      Subscriber is a direct competitor of AnswerIQ (as determined in
      AnswerIQ’s discretion), unless Subscriber obtains AnswerIQ’s prior
      written consent.
    </li>
    <li>
      <em>3.</em> Technical Support. Subscriber shall be entitled to
      receive, and AnswerIQ shall provide to Subscriber, such email
      technical support, if any. Subscriber may request that Licensor
      provide additional technical support or services, which may be
      subject to additional Fees, and the terms and conditions thereof
      shall be separately agreed by Subscriber and Licensor in writing.
    </li>
    <li>
      <em>4.</em> Fees. In consideration of the license granted
      hereunder, during the Evaluation Period ("Evaluation Period"),
      there will be no Fees assessed for the Services. Subscriber shall
      be notified at least 30 days before the Evaluation Period ends.
    </li>
    <li>
      <em>5.</em> Feedback. As used in these Standard Terms, the term
      “Feedback” means any comments, criticisms, reports, or other
      feedback, whether in oral or written form, Subscriber provides to
      Licensor regarding the function, features, and other
      characteristics of the Services including, without limitation, any
      errors, problems, or defects in, or suggestions for changes or
      improvements to, the Services. Licensor will have the right to use
      such Feedback in any manner it deems appropriate.
    </li>
    <li>
      <em>6.</em> Ownership. Subscriber has no ownership rights in the
      Software or any related documentation. Licensor retains all right,
      title, and interest in and to the Software (including any changes,
      modifications, or corrections thereto) and any related
      documentation. Subscriber understands and agrees that it will gain
      no right, title, or interest in or to the Software by virtue of
      Subscriber’s Feedback and that Subscriber does not now have, will
      not have, and will never claim to have, any proprietary rights
      (including intellectual property rights and trade secret rights)
      in or to the Software (or any changes, modifications, or
      corrections thereto). If Subscriber is ever held or deemed to hold
      any right in or to the Software (or any changes, modifications, or
      corrections thereto) by virtue of Subscriber’s Feedback, then
      Subscriber hereby irrevocably assigns to Licensor all such rights.
      In the event that any such right cannot be so assigned, Subscriber
      hereby agrees to waive enforcement worldwide of such rights
      against Licensor and grant to Licensor an exclusive license, with
      right to sublicense through multiple tiers of sublicensees, to
      use, reproduce, distribute, create derivative works of, publicly
      perform and display, in any medium or format, whether now known or
      later developed, any and all property that is subject to such
      rights.
    </li>
    <li>
      <em>7.</em> Protection of Confidential Information. Each party
      (the "Receiving Party") understands that the other party (the
      "Disclosing Party") has disclosed or may disclose information
      relating to the Disclosing Party's business (hereinafter referred
      to as "Proprietary Information" of the Disclosing Party). The
      Receiving Party agrees: (i) to take reasonable precautions to
      protect such Proprietary Information, and (ii) not to use (except
      as expressly permitted herein) or divulge to any third person any
      such Proprietary Information. The Disclosing Party agrees that the
      foregoing shall not apply with respect to any information after
      five years following the disclosure thereof or any information
      that the Receiving Party can document (a) is or becomes generally
      available to the public, or (b) was in its possession or known by
      it prior to receipt from the Disclosing Party, or (c) was
      rightfully disclosed to it by a third party, or (d) was
      independently developed without use of any Proprietary Information
      of the Disclosing Party or (e) is required by law. Notwithstanding
      the foregoing, AnswerIQ may use Your Data in an aggregate and
      anonymous manner, and AnswerIQ may also collect other data with
      respect to your use of the Services and report on such usage in an
      aggregate and anonymous manner, including, without limitation,
      response rates and other measures of usage performance for the
      Services. Subscriber acknowledges that the Software contains
      proprietary trade secrets of Licensor. Subscriber agrees not to
      decompile, disassemble, reverse engineer, or attempt to
      reconstruct, identify, or discover any source code, underlying
      ideas, underlying user interface techniques, or algorithms of the
      Software by any means whatsoever, except to the extent the
      foregoing restriction is prohibited by applicable law.
    </li>
    <li>
      <em>8.</em> Your Data. AnswerIQ does not own any data, information
      or material that you submit to the Service in the course of using
      the Services ("Your Data"). You, not AnswerIQ, shall have sole
      responsibility for the accuracy, quality, integrity, legality,
      reliability, appropriateness, and intellectual property ownership
      or right to use of Your Data. AnswerIQ will protect any data
      provided by you that resides in your Services environment as
      confidential in accordance with Section 7. In addition, you
      acknowledge and agree that it is your obligation to inform third
      parties of the use, processing, or transfer of Your Data and to
      ensure that such third parties have given their consent to such
      use, processing, and transfer as required by all applicable data
      protection legislation.
    </li>
    <li>
      <em>9.</em> Representations, Warranties, Indemnities &amp;
      Exclusive Remedies. Each party represents and warrants to the
      other party that it has the power and authority to enter into the
      Agreement. AnswerIQ warrants to you that it will use commercially
      reasonable efforts to (a) perform the Services substantially in
      accordance with its online documentation under normal use, and (b)
      provide you the Services in a manner consistent with generally
      accepted industry standards. You must notify AnswerIQ of any
      warranty deficiencies within 30 days from performance of the
      relevant Services in order to receive warranty remedies. For any
      breach of the express warranty as set forth above, your exclusive
      remedy shall be the re-performance of the deficient Services, as
      applicable, and if AnswerIQ determines that it is unable to
      re-perform such deficient Services as warranted, you shall be
      entitled to recover a pro-rata portion of the fees paid to AnswerIQ
      for such deficient Services (depreciated on a straight line basis
      over the applicable term), and such refund shall be AnswerIQ’s
      entire liability. Subject to this Agreement, AnswerIQ shall defend,
      indemnify and hold Customer harmless against any loss, damage or
      costs (including reasonable attorneys' fees) incurred in
      connection with claims, demands, suits, or proceedings ("Claims")
      made or brought against Customer by a third party alleging that
      the use of the Service as contemplated hereunder infringes the
      intellectual property rights of a third party; provided, that
      Customer (a) promptly gives written notice of the Claim to
      AnswerIQ; (b) gives AnswerIQ sole control of the defense and
      settlement of the Claim (provided that AnswerIQ may not settle or
      defend any Claim unless it unconditionally releases Customer of
      all liability); and (c) provides to AnswerIQ, at AnswerIQ’s cost,
      all reasonable assistance. Subject to this Agreement, Customer
      shall defend, indemnify and hold AnswerIQ harmless against any
      loss, damage or costs (including reasonable attorneys' fees)
      incurred in connection with Claims made or brought against AnswerIQ
      by a third party alleging that the Customer Data, or Customer's
      use of the Service in violation of this Agreement, infringes the
      intellectual property rights of, or has harmed, a third
      party; provided, that AnswerIQ (a) promptly gives written notice of
      the Claim to Customer; (b) gives Customer sole control of the
      defense and settlement of the Claim (provided that Customer may
      not settle or defend any Claim unless it unconditionally releases
      AnswerIQ of all liability); and (c) provides to Customer, at
      Customer's cost, all reasonable assistance.
    </li>
    <li>
      <em>10.</em> Disclaimer of Warranty. THE SOFTWARE IS PROVIDED TO
      SUBSCRIBER “AS IS” AND “WITH ALL DEFECTS,” AND SUBSCRIBER’S USE OF
      THE SOFTWARE IS ENTIRELY AT SUBSCRIBER’S OWN RISK. LICENSOR HEREBY
      DISCLAIMS ALL WARRANTIES WITH RESPECT TO THE SOFTWARE, EXPRESS OR
      IMPLIED, INCLUDING ANY WARRANTIES OF MERCHANTABILITY,
      NON-INFRINGEMENT, OR FITNESS FOR A PARTICULAR USE OR PURPOSE.
      LICENSOR DOES NOT WARRANT THAT THE SOFTWARE WILL MEET SUBSCRIBER’S
      REQUIREMENTS IN ANY RESPECT, OR THAT THE OPERATION OF THE SOFTWARE
      WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT ERRORS IN THE
      SOFTWARE OR NONCONFORMITY TO ITS DOCUMENTATION CAN OR WILL BE
      CORRECTED. SUBSCRIBER ACKNOWLEDGES THAT THE PROVISIONS OF THIS
      SECTION ARE A MATERIAL INDUCEMENT AND CONSIDERATION TO LICENSOR TO
      GRANT THE LICENSE CONTAINED IN THIS AGREEMENT.
    </li>
    <li>
      <em>11.</em> Limitation of Liability. NEITHER LICENSOR NOR ITS
      SUPPLIERS WILL BE LIABLE TO SUBSCRIBER FOR ANY INCIDENTAL OR
      CONSEQUENTIAL DAMAGES FOR BREACH OF ANY EXPRESS OR IMPLIED
      WARRANTY, BREACH OF CONTRACT, NEGLIGENCE, STRICT LIABILITY OR ANY
      OTHER LEGAL THEORY RELATED TO THE SOFTWARE (INCLUDING, WITHOUT
      LIMITATION, LOST PROFITS OR LOST DATA, LOSS OF OTHER PROGRAMS,
      DAMAGES FOR LOSS OF GOODWILL, WORK STOPPAGE, COMPUTER FAILURE OR
      MALFUNCTION, OR ANY AND ALL OTHER COMMERCIAL DAMAGES OR LOSSES),
      EVEN IF LICENSOR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH
      DAMAGES. IN ANY CASE, LICENSOR'S AGGREGATE LIABILITY UNDER THIS
      AGREEMENT WILL BE LIMITED TO THE FEES ACTUALLY PAID BY SUBSCRIBER
      FOR THE SOFTWARE.
    </li>
    <li>
      <em>12.</em> Exclusions. Some jurisdictions do not allow the
      exclusion of certain warranties or the limitation or exclusion of
      liability for incidental or consequential damages. Accordingly,
      some of the above limitations and disclaimers may not apply to
      Subscriber. To the extent that Licensor may not, as a matter of
      applicable law, disclaim any implied warranty or limit its
      liabilities, the scope and duration of such warranty and the
      extent of Licensor’s liability shall be the minimum permitted
      under such applicable law.
    </li>
    <li>
      <em>13.</em> Term; Termination. The Term of this Agreement is for
      30 days commencing on the Effective Date. The Agreement
      automatically renews until the end of the Evaluation Period. This
      Agreement will automatically terminate if Subscriber violates any
      of the terms of the Agreement. Upon termination of the Agreement
      all license rights granted to Subscriber shall immediately
      terminate. All other provisions of the Agreement shall survive
      such termination.
    </li>
    <li>
      <em>14.</em> Verification. At AnswerIQ’s written request, but not
      more frequently than annually, you shall furnish AnswerIQ with a
      document signed by your authorized representative verifying that
      the Services are being used pursuant to the provisions of this
      User Agreement. You agree to provide such information and
      documents reasonably requested by AnswerIQ with respect to your use
      of the Services.
    </li>
    <li>
      <em>15.</em> Links. The Software may contain links to, and permit
      Subscriber to choose to link to, third-party web sites or
      resources (“Linked Sites”). Such Linked Sites are not under
      Licensor’s control, and Licensor is not responsible for and does
      not endorse the content of such Linked Sites or any products or
      services available on or through such Linked Sites. Subscriber
      will need to make its own independent judgment regarding its
      interaction with Linked Sites and do so at its own risk.
    </li>
    <li>
      <em>16.</em> Compliance with Laws; Export Control. Subscriber must
      comply with all applicable laws and regulations relating to the
      use of the Software. Subscriber acknowledges that the laws and
      regulations of the United States restrict the export and re-export
      of commodities and technical data of United States origin,
      including the Software, without all required United States and
      foreign government licenses. Subscriber agrees that it will not
      export or re-export the Software in any form in violation of the
      laws of the United States or any foreign jurisdiction. Subscriber
      will defend, indemnify, and hold harmless Licensor from and
      against any violation of such laws or regulations by Subscriber or
      any of its agents or employees. By installing or using the
      Software, Subscriber represents and warrants that it is not (a) a
      national or resident of any country to which the United States has
      embargoed goods, or (b) on the United States Treasury Department’s
      list of Specially Designated Nationals or the U.S. Commerce
      Department’s Table of Denial and Prohibition Orders.
    </li>
    <li>
      <em>17.</em> U.S. Government End Users. The Software and related
      documentation are “Commercial Items,” as that term is defined at
      48 C.F.R. §2.101, consisting of “Commercial Computer Software” and
      “Commercial Computer Software Documentation,” as such terms are
      used in 48 C.F.R. §12.212 or 48 C.F.R. §227.7202, as applicable.
      Consistent with 48 C.F.R. §12.212 or 48 C.F.R. §§227.7202-1
      through 227.7202-4, as applicable, the Software and related
      documentation are being licensed to U.S. Government end users (a)
      only as “Commercial Items,” and (b) with only those rights as are
      granted to all other end users pursuant to the terms and
      conditions herein.
    </li>
    <li>
      <em>18.</em> Assignment. Subscriber may not assign or
      transfer this Agreement or any of its rights or interests under
      it, in whole or in part, without Licensor’s prior written consent.
      All assignments or transfers by Subscriber are prohibited under
      this Section, whether they are voluntary or involuntary, by
      merger, consolidation, dissolution, operation of law or any other
      manner. For purposes of this Section, (i) a change of control
      (i.e., a change in ownership of more than fifty percent (50%) of
      Subscriber’s voting stock or other ownership interests) or a
      transfer or sale of any substantial part (twenty-five percent
      (25%) or more in value) of Subscriber’s total assets is deemed an
      assignment and (ii) “merger” refers to any merger in which
      Subscriber participates, regardless of whether Subscriber is the
      surviving entity. Any attempted sublicense, transfer, or
      assignment in violation of this Agreement will be null and void
      and in the event of any such attempt this Agreement will
      automatically terminate. Subject to the foregoing assignment
      prohibitions, this Agreement binds and is for the benefit of the
      successors and permitted assigns of each party.
    </li>
    <li>
      <em>19.</em> Entire Agreement. This Agreement, comprised of these
      Standard Terms, is the entire agreement between Subscriber and
      Licensor with respect to, and supersedes any previous oral or
      written communications or documents concerning, the subject matter
      of the Agreement. No terms or conditions in any Subscriber
      purchase order or in any other Subscriber order documentation
      shall be incorporated into or form any part of this Agreement, and
      all such terms or conditions shall be null and void.
    </li>
    <li>
      <em>20.</em> Miscellaneous. This Agreement is governed by the laws
      of the State of California, USA, as such laws apply to contracts
      between California residents entered into and performed entirely
      in California (notwithstanding Subscriber’s place of residency).
      Subscriber agrees that any dispute arising from or relating to
      this Agreement shall be brought exclusively in a court of
      competent jurisdiction, federal or state, located within the State
      of California, County of San Francisco, and in no other
      jurisdiction, and Subscriber hereby consents to personal
      jurisdiction and venue in, and agree to service of process issued
      or authorized by, such court. Subscriber acknowledges this
      Agreement is drawn up in the English language, and English shall
      be the official language of this Agreement. This Agreement will
      not be governed by the U.N. Convention on Contracts for the
      International Sale of Goods. If any provision of this Agreement is
      found to be invalid or unenforceable, it will be enforced to the
      extent permissible and the remainder of this Agreement will remain
      in full force and effect. Failure by Licensor to prosecute any
      right with respect to a default hereunder will not constitute a
      waiver by Licensor of the right to enforce rights with respect to
      the same or any other breach. No modification, amendment, or
      waiver of any provision of this Agreement shall be effective
      unless in writing and signed by the party against whom the
      modification, amendment or waiver is to be asserted. This
      Agreement may be executed by facsimile, PDF copies, and in
      counterparts, which taken together shall form one legal
      instrument.
    </li>
  </ul>
</div>
