<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/empty_header.html'"></div>

<div class="grid-container">
  <div id="signup">

    <div class="grid-container">
      <ol class="progress-steps" data-total-steps="3">
        <li class="progress-step-done">1. Connect</li>
        <li class="progress-step-todo">2. Account</li>
        <li class="progress-step-todo">3. Finalize</li>
      </ol>

      <p style='text-align: center;'>
        AnswerIQ is a data-driven application that optimizes your customer support team.<br />
        In less than 2 minutes, your application will be configured in 3 easy steps.
      </p>
    </div>

    <div class="centered-box">
      <div class="title">
        <h4>
          Connect to Zendesk
        </h4>
      </div>
      <form name="connectToZendeskForm" ng-submit="client.formSubmit()">
        <label class="subdomain">
          Subdomain
          <span ng-if="connectToZendeskForm.subdomain.$touched" class="validation-error">
            <span ng-if="connectToZendeskForm.subdomain.$error.required">
              Please enter your Zendesk subdomain
            </span>
          </span>

          <div class="overlay">.zendesk.com</div>
          <input type="text" name="subdomain" ng-model="client.subdomain" class="with-subdomain" required>
        </label>

        <div ng-if="client.api">
          <label>
            API Key Email
            <span ng-if="connectToZendeskForm.email.$touched" class="validation-error">
              <span ng-if="connectToZendeskForm.email.$error.required">
                Please enter an email address
              </span>
              <span ng-if="connectToZendeskForm.email.$error.email">
                Please enter a valid email address
              </span>
            </span>
            <input type="email" name="email" ng-model="client.email" required>
          </label>

          <label>
            API Key Token
            <span ng-if="connectToZendeskForm.token.$touched" class="validation-error">
              <span ng-if="connectToZendeskForm.token.$error.required">
                Please enter your Zendesk API token
              </span>
            </span>

            <input type="password" name="token" ng-model="client.apiToken" required>
          </label>

        </div>

        <label class="api-key-switch">
          <input type="checkbox" ng-model="client.api">Use API Key
        </label>

        <button ng-disabled="!connectToZendeskForm.$valid" class="primary" ladda="client.loading" data-style="expand-left">
          Connect <i class="fa fa-arrow-circle-right"></i>
        </button>
      </form>
    </div>

  </div>
</div>
