// AnswerIQ.com Confidential and Proprietary

button,
.button,
input[type='submit'] {
  @extend %button;
  @include appearance(none);
  outline: none;
  border: none;
  border-radius: $base-border-radius;
  cursor: pointer;
  padding: 7px 24px;
  text-decoration: none;
  line-height: 1.5;
  white-space: nowrap;
  color: #fff;
  font-weight: 400;
  user-select: none;

  &:focus {
    outline: none;
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  &.primary {
    background: $green;

    &:hover {
      background: darken($green, 10%);
    }
  }

  &.secondary {
    background: $blue;

    &:hover {
      background: lighten($blue, 10%);
    }
  }

  &.tertiary {
    background: transparent;
    background-color: lighten($medium-gray, 20%);

    &:hover {
      background-color: lighten($medium-gray, 10%);
    }
  }

  &.red,
  &.danger {
    background: $red;

    &:hover {
      background: darken($red, 10%);
    }
  }
}
