// AnswerIQ.com Confidential and Proprietary

.button-group {

  input {
    display: none;
  }

  label {
    float: left;
    margin-bottom: 0;

    .button-group-item {
      display: inline-block;
      border: $base-border;
      border-left: 0;
      background: $white;
      cursor: pointer;
      padding: .45em $base-spacing / 2;
      width: auto;
      font-size: $base-font-size;
      font-weight: normal;

      &:focus,
      &:hover {
        background-color: $very-light-gray;
      }
    }

    &:first-child .button-group-item {
      @include border-left-radius($base-border-radius);
      border-left: $base-border;
    }

    &:last-child .button-group-item {
      @include border-right-radius($base-border-radius);
    }

    input:checked + .button-group-item {
      box-shadow: inset 0 1px 2px darken($green, 10%);
      background: $green;
      color: $white;
    }
  }
}
