// AnswerIQ.com Confidential and Proprietary

.centered-box {
  @include span-columns(6);
  @include shift(3);
  margin-top: $base-spacing * 2;
  border: $base-border;
  border-radius: $base-border-radius;
  overflow: auto;

  @include media($tablet-grid) {
    @include span-columns(6);
    @include shift(1);
    margin-top: $base-spacing;
  }

  @include media($mobile-grid) {
    @include span-columns(4);
    @include shift(0);
    margin-top: $base-spacing;
  }

  label,
  p,
  button {
    margin-right: $base-spacing;
    margin-left: $base-spacing;
  }

  .title {
    margin: 0 0 ($base-spacing * 1.25) 0;
    background-color: $base-accent-color;
    padding: ($base-spacing / 2) $base-spacing;
    color: $white;
  }
}
