// AnswerIQ.com Confidential and Proprietary

fieldset {
  margin: 0 0 ($base-spacing / 2) 0;
  border: $base-border;
  background: lighten($base-border-color, 10);
  padding: $base-spacing;
}

input,
label,
select {
  display: block;
  font-family: $form-font-family;
  font-size: $form-font-size;
}

label {
  margin-bottom: $base-spacing / 4;
  font-weight: bold;

  abbr {
    display: none;
  }


  .validation-error {
    float: right;
    line-height: 1.875;
    color: $red;
    font-size: $form-font-size * 0.8;
    font-weight: normal;
  }
}

textarea, #{$all-text-inputs}, select, select[multiple=multiple] {
  @include transition(border-color);
  margin-bottom: $base-spacing / 2;
  border: 1px solid $form-border-color;
  border-radius: $form-border-radius;
  box-shadow: $form-box-shadow;
  background-color: #fff;
  padding: ($base-spacing / 3) ($base-spacing / 3);
  width: 100%;
  font-family: $form-font-family;
  font-size: $form-font-size;

  &:hover {
    border-color: $form-border-color-hover;
  }

  &:focus {
    outline: none;
    border-color: $form-border-color-focus;
    box-shadow: $form-box-shadow-focus;
  }

  &.ng-invalid.ng-touched {
    border-color: $red;
  }
}

textarea {
  resize: vertical;
}

input[type='search'] {
  @include appearance(none);
}

input[type='checkbox'],
input[type='radio'] {
  display: inline;
  margin-right: $base-spacing / 4;
}

input[type='file'] {
  padding-bottom: $base-spacing / 2;
  width: 100%;
}

select {
  margin-bottom: $base-spacing;
  width: auto;
  max-width: 100%;
}
