// AnswerIQ.com Confidential and Proprietary

.grid-container {
  @include outer-container();

  @include media($tablet-grid) {
    margin-right: $base-spacing;
    margin-left: $base-spacing;
  }

  @include media($mobile-grid) {
    margin-right: $base-spacing / 2;
    margin-left: $base-spacing / 2;
  }
}
