// AnswerIQ.com Confidential and Proprietary

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &%default-ul {
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
    list-style-type: disc;
  }

  &%default-ol {
    margin-bottom: $base-spacing / 2;
    padding-left: $base-spacing;
    list-style-type: decimal;
  }
}

dl {
  margin-bottom: $base-spacing / 2;

  dt {
    margin-top: $base-spacing / 2;
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}
