// AnswerIQ.com Confidential and Proprietary

.ngdialog {
  padding-top: 160px;
  padding-bottom: 160px;

  .ngdialog-content {
    @extend .grid-container;
    background-color: transparent;

    .content {
      @include span-columns(6);
      @include shift(3);
      @include animation(ngdialog-flyin .5s);

      position: relative;
      margin-top: $base-spacing * 2;
      border: $base-border;
      border-radius: $base-border-radius;
      background-color: #fff;
      overflow: auto;

      @include media($tablet-grid) {
        @include span-columns(6);
        @include shift(1);
        margin-top: $base-spacing;
      }

      @include media($mobile-grid) {
        @include span-columns(4);
        @include shift(0);
        margin-top: $base-spacing;
      }

      label,
      p,
      button {
        margin-right: $base-spacing;
        margin-left: $base-spacing;
      }

      .title {
        padding: $base-spacing;
        color: $base-accent-color;
      }

      h2 {
        font-weight: 300;
      }

      .button,
      button {
        margin-top: $base-spacing * 1.25;
        margin-bottom: $base-spacing;
      }

      .accept {
        float: right;
        margin-left: $base-spacing;
      }

      .cancel {
        float: left;
        margin-right: $base-spacing;
      }
    }
  }

  &.ngdialog-closing .ngdialog-content {
    @include animation(ngdialog-flyout .5s);
  }
}

@include keyframes(ngdialog-flyin) {
  0% {
    @include transform(translateY(-40px));
    opacity: 0;
  }

  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

@include keyframes(ngdialog-flyout) {
  0% {
    @include transform(translateY(0));
    opacity: 1;
  }

  100% {
    @include transform(translateY(-40px));
    opacity: 0;
  }
}
