// AnswerIQ.com Confidential and Proprietary

@import 'imports';

.model-table {
  margin-top: 2em;

  .save {
    @include span-columns(2);
    @include omega;
    float: right;
    margin-top: 3.4em;
    margin-bottom: $base-spacing;

    @include media($mobile-grid) {
      @include span-columns(4);
      margin-top: $base-spacing;
    }
  }

  .copy {
    @include span-columns(8);
    @include media($mobile-grid) {
      @include span-columns(4);
    }
  }

  .model-selector {
    @include span-columns(12);
    position: relative;

    margin-bottom: $base-spacing;
    border: $base-border;
    border-radius: $base-border-radius;
    overflow: hidden;

    @include media($mobile-grid) {
      @include span-columns(4);
    }
  }

  .models {
    @include span-columns(4);
    margin-bottom: -1px;
    border-bottom: $base-border;

    @include media($mobile-grid) {
      @include span-columns(4);
    }
  }

  .model {
    border-top: $base-border;
    border-right: $base-border;
    background-color: $very-light-gray;
    cursor: pointer;
    min-height: 4em;

    &:nth-child(1) {
      border-top: 0;
    }

    &.open {
      border-right: 0;
      background-color: transparent;

      @include media($mobile-grid) {
        border-right: $base-border;
        background-color: $very-light-gray;
      }
    }

    .model-name {
      padding: 1em;
      line-height: 32px;
    }

    .arrow {
      float: right;
      padding: 1em;
      line-height: 32px;

      @include media($mobile-grid) {
        display: none;
      }
    }

    .check,
    .plus {
      float: left;
      transition: width .2s ease-in, opacity .2s ease-in, padding .2s ease-in;
      opacity: 0;
      padding: 1em 0;
      width: 0;
      line-height: 32px;
      color: $green;

      @include media($mobile-grid) {
        display: none;
      }

      &.present {
        width: 3em;
      }

      &.checked {
        opacity: 1;
        padding: 1em;
      }

      &.plus {
        opacity: 1;
        padding: 1em;
        width: 3em;
        color: #000000;
      }
    }
  }

  .details {
    @include span-columns(8);
    padding: $base-spacing;
    padding-top: 2em;
    height: 100%;

    @include media($mobile-grid) {
      display: none;
    }
  }

  .options {
    padding-right: 3 * $base-spacing;

    h2 {
      margin: 0 0 $base-spacing;
      border-bottom: $base-border;
      width: 100%;
      color: $base-accent-color;
      font-weight: 550;
    }

    .switch {
      @include clearfix;
      margin-bottom: $base-spacing / 2;
      line-height: 20px;

      .label-switch {
        float: left;
        margin: 0 1em 0 0;
      }
    }

    hr {
      width: 100%;
    }

    ul {
      @include columns(2);
      margin-bottom: $base-spacing / 2;
      padding-left: $base-spacing;
      list-style-position: inside;
      list-style-type: disc;
    }
  }

  .thin-close-x {
    position: absolute;
    top: $base-spacing;
    right: $base-spacing;
  }

  .instructions {
    padding: 5em 2em;
    text-align: center;

    .label-switch {
      cursor: default;

      .checkbox {
        cursor: default;
      }
    }

    h3 {
      margin-bottom: $base-spacing;
    }

    p {
      font-size: .9em;
    }
  }

  salvation-bar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
