// AnswerIQ.com Confidential and Proprietary

table {
  margin: ($base-spacing / 2) 0;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15);
  padding: ($base-spacing / 2) 0;
  text-align: left;
  font-weight: bold;
}

td {
  border-bottom: $base-border;
  padding: ($base-spacing / 2) 0;
}

tr,
td,
th {
  vertical-align: middle;
}
