// AnswerIQ.com Confidential and Proprietary

.thin-close-x {
  @include size(1.5em);
  position: relative;
  cursor: pointer;

  &:after,
  &:before {
    @include position(absolute, 3px 3px 0 50%);
    @include transform(rotate(45deg));
    @include size(.15em 1.5em);
    display: block;
    margin: -3px 0 0 -1px;
    background: $light-gray;
    content: '';
  }

  &:hover:after,
  &:hover:before {
    background: darken($light-gray, 10);
  }

  &:before {
    @include transform(rotate(-45deg));
  }
}
