// AnswerIQ.com Confidential and Proprietary

.tooltip-item {
  display: inline-block;
  position: relative;

  &:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }

  .tooltip {
    @include transition (opacity 0.2s ease-in-out);
    position: absolute;
    bottom: 101%;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    border: $base-border;
    border-radius: $base-border-radius;
    box-shadow: $base-box-shadow;
    background: #fff;
    background-color: $white;
    padding: 1em;
    max-width: 16em;
    text-align: center;
    line-height: 1.5em;
    white-space: normal;
    color: $base-font-color;
    font-size: .9em;

    p {
      margin-bottom: 0;
    }

    &:after,
    &:before {
      position: absolute;
      top: 100%;
      left: 50%;
      border: solid transparent;
      width: 0;
      height: 0;
      content: ' ';
      pointer-events: none;
    }

    &:after {
      margin-left: -5px;
      border-width: 5px;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $white;
    }

    &:before {
      margin-left: -6px;
      border-width: 6px;
      border-color: rgba(136, 183, 213, 0);
      border-top-color: $base-border-color;
    }
  }
}
