// AnswerIQ.com Confidential and Proprietary

body {
  background-color: $base-background-color;
  line-height: $base-line-height;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  line-height: $header-line-height;
  font-family: $header-font-family;
}

h1 {
  margin: 1em 0 1em;
  font-size: $h1-font-size;
  font-weight: 300;
}

.breadcrumb {
  margin-top: -2em;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 ($base-spacing / 2);
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: $base-link-color;

  &:hover {
    color: $hover-link-color;
  }

  &:active,
  &:focus {
    outline: none;
    color: $hover-link-color;
  }
}

hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  margin: $base-spacing 0;
  border-left: 2px solid $base-border-color;
  padding-left: $base-spacing / 2;
  color: lighten($base-font-color, 15);
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
