<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="copyright">
  <div class="grid-container">
    <p>
      © Copyright 2017 AnswerIQ™.&nbsp;
      All Rights Reserved.&nbsp;
    </p>
  </div>
</div>
