// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#copyright {
  margin-top: $base-spacing * 2;
  border-top: 1px solid $very-light-gray;
  padding: $base-spacing 0;

  p {
    @include span-columns(12);

    margin: 0;
    color: $light-gray;
    font-size: 0.85em;
    font-weight: 200;

    a {
      color: $light-gray;

      &:hover {
        color: $light-blue;
      }
    }
  }
}
