// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#footer {
  @include clearfix;
  background-color: $dark-blue;
  padding: ($base-spacing * 2) 0;
  color: $white;

  .row {
    @include clearfix;
  }

  .column {
    @include span-columns(3);

    @include media($mobile-grid) {
      @include span-columns(4);
    }

    h4 {
      margin-top: $base-spacing;
      margin-bottom: $base-spacing * .5;
      font-weight: 600;
    }

    > ul {
      @include media($mobile-grid) {
        @include columns(2);
        margin-left: $base-spacing;
      }
    }

    li {
      @include avoid-column-break-inside;
      margin-bottom: $base-spacing * .35;
      font-size: .9em;
      font-weight: 300;

      ul {
        margin: $base-spacing * .5;
        margin-bottom: $base-spacing * .75;
      }
    }

    a {
      text-decoration: none;
      color: $white;

      &:hover {
        color: $light-gray;
      }
    }
  }

  .subfooter {
    color: $medium-gray;
    font-size: .95em;
    font-weight: 300;
  }

  .copyright {
    @include span-columns(6);

    margin: $base-spacing 0;

    @include media($mobile-grid) {
      @include span-columns(4);
      @include omega;
    }
  }

  .social {
    @include span-columns(5);

    margin: $base-spacing 0;
    text-align: right;
    color: $medium-gray;

    @include media($mobile-grid) {
      @include span-columns(4);
      text-align: left;
    }

    a {
      display: inline-block;
      margin-right: $base-spacing;
      text-decoration: none;
      color: $light-gray;

      i {
        margin-right: $base-spacing * .25;
        border-radius: 50%;
        background-color: $light-gray;
        padding: 5px;
        color: $dark-blue;
      }
    }

    a:hover {
      color: $white;

      i { background-color: $white; }
    }

  }
}
