<!-- AnswerIQ.com Confidential and Proprietary -->

<div id="footer">
  <div class="grid-container">

    <div class="row">
      <div class="column">
        <h4><a href="http://www.answeriq.com/product">
          Product
        </a></h4>
        <ul>
          <li>
            <a href="http://www.answeriq.com/product#applications">
              Applications
            </a>
            <ul>
              <li><a href="http://www.answeriq.com/product/acquisition">
                Acquisition
              </a></li>

              <li><a href="http://www.answeriq.com/product/monetization">
                Monetization
              </a></li>

              <li><a href="http://www.answeriq.com/product/retention">
                Retention
              </a></li>

              <li><a href="http://www.answeriq.com/product/answeriq-support">
                AnswerIQ Support
              </a></li>
            </ul>
          </li>

          <li><a href="http://www.answeriq.com/product#workflow">
            Workflow
          </a></li>

          <li><a href="http://www.answeriq.com/product#editions">
            Editions
          </a></li>

          <li><a href="http://www.answeriq.com/product#pov">
            Proof of Value
          </a></li>

        </ul>
      </div>

      <div class="column">
        <h4><a href="http://www.answeriq.com/learn">
          Learn
        </a></h4>

        <ul>
          <li><a href="http://www.answeriq.com/learn#wml">
            What&nbsp;is Machine&nbsp;Learning?
          </a></li>

          <li><a href="http://www.answeriq.com/faq">
            FAQ
          </a></li>

          <li>
            <a href="http://www.answeriq.com/learn#technology">
              Technology
            </a>

            <ul>
              <li><a href="http://info.answeriq.com/machine-learning-white-paper">
                Whitepaper
              </a></li>

              <li><a href="http://info.answeriq.com/application-architecture">
                Architecture
              </a></li>

            </ul>
          </li>

        </ul>
      </div>

      <div class="column">
        <h4><a href="http://www.answeriq.com/company">
          Company
        </a></h4>

        <ul>
          <li><a href="http://www.answeriq.com/company#story">
            Story
          </a></li>

          <li><a href="http://www.answeriq.com/company#team">
            Leadership
          </a></li>

          <li><a href="http://www.answeriq.com/jobs">
            Jobs
          </a></li>

          <li><a href="http://www.answeriq.com/company#contact">
            Contact Us
          </a></li>
        </ul>
      </div>

      <div class="column">
        <h4>Resources</h4>

        <ul>
          <li><a href="http://info.answeriq.com/demo-request">
            Request Demo
          </a></li>

          <li><a href="http://www.answeriq.com/product#case-studies">
            Case Studies
          </a></li>
          <li>
            <ul>
              <li><a href="http://www.answeriq.com/business-executive-case-study">
                Business Executive
              </a></li>

              <li><a href="http://www.answeriq.com/data-science-case-study">
                Data Science Team
              </a></li>
            </ul>
          </li>

          <li><a href="http://www.answeriq.com/news">
            In the News
          </a></li>

          <li><a href="http://www.answeriq.com/blog">
            Blog
          </a></li>

          <li><a href="http://www.answeriq.com/privacy">
            Privacy Policy
          </a></li>
        </ul>
      </div>
    </div>

    <div class="row subfooter">
      <div class="copyright">© Copyright 2017 AnswerIQ™. All Rights Reserved.</div>
      <div class="social">
        <a href="http://www.linkedin.com/company/answeriq-io">
          <i class="fa fa-linkedin"></i>
          LinkedIn
        </a>
        <a href="https://twitter.com/answeriqio">
          <i class="fa fa-twitter"></i>
          Twitter
        </a>
      </div>
    </div>

  </div>
</div>
