<!-- AnswerIQ.com Confidential and Proprietary -->

<div class="tooltip">
  <p>{{ macro.getBody() }}</p>
</div>

<a href="{{macro.foreign_url}}" rel="noopener" target="_blank">
{{ macro.truncated_title(58) }}
</a>
