<!-- AnswerIQ.com Confidential and Proprietary -->

<div ng-include="'/header/logged_in_header.html'"></div>
<div ng-include="'/header/navigation.html'"></div>

<div id="response" class="grid-container">
  <h1>Response Settings</h1>
  <div class="breadcrumb">Adjust how predictions are made.</div>

  <div ng-if="controller.loading" class='huge-center-notice'>
    <h1><i class='fa fa-spinner fa-spin'></i></h1>
  </div>

  <div class="model-table" ng-if="!controller.loading">
    <div class="model-selector">

      <salvation-bar visible="controller.saved"></salvation-bar>

      <div class="models">
        <div class="model"
             ng-repeat="model in controller.models"
             ng-click="controller.open = model"
             ng-class="{open: model == controller.open,
                       enabled: model.enabled}">

          <i class="check fa fa-check present"
             ng-class="{checked: model.enabled,
                       'fa-check': !model.publish_predictions && !model.auto_response_enabled,
                       'fa-cloud-upload': model.publish_predictions && !model.auto_response_enabled,
                       'fa-mail-forward': model.auto_response_enabled
                       }"></i>

          <i ng-if="controller.open != model" class="arrow fa fa-caret-right"></i>

          <div class="model-name">
            {{ model.name }}
          </div>

        </div>

        <div class="model"
             ng-click="controller.open = 'Response Preview'"
             ng-class="{open: 'Response Preview' == controller.open}">

          <i class="check fa fa-check present"></i>

          <i ng-if="controller.open != 'Response Preview'" class="arrow fa fa-caret-right"></i>

          <div class="model-name">
            Response Preview
          </div>

        </div>
      </div>

      <div class="details options" style="position:relative">

        <div ng-if="'Response Preview' == controller.open" class='response-preview'>
          <h2>Response Preview</h2>

          <form class="responsePreviewForm" ng-submit="controller.previewResponse()">
              <label style='display: inline; margin-right: 1em;'>Macro ID
                <input type="number" ng-model="controller.preview.macro_foreign_id" style='width: 100px; display: inline;'>
              </label>

              <label style='display: inline; margin-right: 1em;'>Ticket ID
                <input type="number" ng-model="controller.preview.ticket_foreign_id" style='width: 100px; display: inline;'>
              </label>

              <label ng-if="controller.admin">DMC Substitutions Template
                <textarea ng-model="controller.preview.template"></textarea>
              </label>

              <button ladda="controller.saving" type="submit">Preview Response</button>
              <pre ng-if="controller.preview.response">{{ controller.preview.response }}</pre>

              <label ng-if="controller.preview.api_results">Results:</label>
              <pre ng-if="controller.preview.api_results">{{ controller.preview.api_results | json }}</pre>
          </form>

        </div>

        <div ng-repeat="model in controller.models" ng-if="model == controller.open">
          <h2>{{model.name}}</h2>

          <div ng-if="model.has_auto_response_macros == null">
            <i class='fa fa-spinner fa-spin'></i>
          </div>

          <div class="switch" ng-if="model.has_auto_response_macros != null">
            <label class="label-switch">
              <input type="checkbox"
                 ng-model="model.auto_response_enabled"
                 ng-change="controller.toggleAutoResponseEnabled(model)"
                 ng-disabled="!model.auto_response_toggleable()"/>
              <div class="checkbox"></div>
            </label>
            <label>
              Enable Auto-Response
            </label>
          </div>

          <div ng-if="model.has_auto_response_macros != null && !model.auto_response_toggleable()">
            AR macros and an AR agent needs to be selected. Please contact your AnswerIQ liaison.
          </div>

          <div class='enabled-macros' ng-if='model.auto_response_toggleable()'>
            <table>
              <tr>
                <th width="15%">Macro ID</th>
                <th width="15%">Threshold</th>
                <th>Name</th>
                <th class='status'>Status</th>
              </tr>
              <tr ng-if="model.has_auto_response_macros"
                  ng-repeat="(foreign_id, macro) in model.auto_response_macros | orderBy: 'title'" >
                <td>{{macro.foreign_id}}</td>
                <td>{{macro.confidence_threshold}}</td>
                <td>
                  <span ng-if="macro.title">{{macro.title}}</span>
                  <span ng-if="!macro.title"><i class='fa fa-spinner fa-spin'></i></span>
                </td>
                <td class='status'>
                  <span ng-if="macro.mask_proportion == 1" class='status-passive'>Passive</span>
                  <span ng-if="macro.mask_proportion < 1" class='status-live'>Live</span>
                </td>
              </tr>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
