// AnswerIQ.com Confidential and Proprietary

@import 'imports';

.response-preview {

  pre {
    white-space: pre-wrap;
    padding: 15px;
    border: $base-border;
    border-radius: $base-border-radius;
    font-style: italic;
    font-size: 16px;
  }

  textarea {
    height: 300px;
    font-family: monospace;
  }

}
