<!-- AnswerIQ.com Confidential and Proprietary -->

<div class="tooltip">
  <h5 ng-class="{correct: ticket.isCorrect(field),
                incorrect: ticket.isIncorrect(field),
                open: ticket.isOpen()}"
      ng-if="!showHeader">
    {{ field.name }}
  </h5>
  <p>
    The true value is "{{ ticket.observation(field).name || "None" }}."<br />
    <span ng-if="ticket.isOpen()">This prediction will be assessed once the ticket is closed.</span>
    <span ng-if=" !ticket.isConfident(field)">We were not confident about this prediction; it wasn't published.</span>
  </p>
</div>

<h5 ng-if="showHeader"
    ng-class="{correct: ticket.isCorrect(field),
              incorrect: ticket.isIncorrect(field),
              open: ticket.isOpen()}">
  {{field.name}}
</h5>

<div class="prediction-text">
  <i ng-if="ticket.isCorrect(field)" class="fa fa-check-circle correct"></i>
  <i ng-if="ticket.isIncorrect(field)" class="fa fa-circle incorrect"></i>
  <i ng-if="ticket.isOpen()" class="fa fa-question-circle open">
  </i>{{ ticket.prediction(field).name || "None" }}
</div>
