// AnswerIQ.com Confidential and Proprietary

@import 'imports';

prediction-status.not-confident .prediction-text {
  opacity: .5;
}

prediction-status.tooltip-item {
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  background: $white;
  padding: 0;

  i {
    margin-right: .5em;

    @include media($mobile-grid) {
      margin-right: 7px;
    }
  }

  .correct {
    color: $green;
  }

  .incorrect {
    color: $red;
  }

  .open {
    color: $light-gray;
  }

  h5 {
    @include border-top-radius($base-border-radius);
    border-bottom: $base-border;
    padding: 7px $base-spacing;
    text-align: center;

    @include media($mobile-grid) {
      padding: 7px;
    }

    &.correct {
      background-color: $green;
      color: $white;
    }

    &.incorrect {
      background-color: $red;
      color: $white;
    }

    &.open {
      background-color: $light-gray;
      color: $white;
    }
  }

  .prediction-text {
    padding: 7px ($base-spacing / 2);

    @include media($mobile-grid) {
      padding: 7px;
    }
  }

  .tooltip {
    margin-left: -6em;
    padding: 0;
    width: 16em;

    p {
      padding: $base-spacing / 2;
    }
  }
}
