<!-- AnswerIQ.com Confidential and Proprietary -->

<div id='unsupported' ng-if="!controller.isSupported()">
  Views are only supported for Zendesk, sorry
</div>

<div class='huge-center-notice' ng-if="controller.loading">
  <h1><i class='fa fa-spinner fa-spin'></i></h1>
</div>

<div id='views' ng-if="controller.isSupported() && !controller.form.show && !controller.loading">
  <div id='view-templates'>
    <h2>AnswerIQ View Templates</h2>
    <p class='sub-heading''>Create new Views from predefined templates. You'll be able to edit the request when you click "New View From This Template".</p>
    <table>
      <tr>
        <th width="5%"></th>
        <th>Title</th>
        <th width="30%"></th>
      </tr>
      <tbody ng-repeat="view_template in controller.view_templates" ng-class-odd="'odd'">
        <tr>
          <td class='toggle' ng-click="view_template.open = !view_template.open">
            <i class="fa fa-caret-down" ng-if="view_template.open"></i>
            <i class="fa fa-caret-right" ng-if="!view_template.open"></i>
          </td>
          <td class='title' ng-click="view_template.open = !view_template.open">{{ view_template.foreign_attributes.title }}</td>
          <td class='controls'>
            <a href="#" ng-click="controller.newViewFromTemplateId(view_template.id)"><i class="fa fa-plus-circle"> New View From This Template</i></a>
          </td>
        </tr>
        <tr ng-if="view_template.open">
          <td></td>
          <td class='foreign_attributes' colspan="2">
            <pre>{{ controller.prettyJSON(view_template.foreign_attributes) }}</pre>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div id="fetched-views">
    <h2>
      Views
    </h2>
    <span class='fetch-section'>
      <span ng-if="!controller.fetching">
        <span class='status'>
          <span ng-if="controller.hasFetched()">Fetched <strong>{{ controller.humanizeLastFetchedAt()}}</strong> at {{ controller.formatLastFetchedAt() }}</span>
          <span ng-if="!controller.hasFetched()">Never fetched before</span>
        </span>
        <a href='#' class='fetch-now-link' ng-click="controller.fetchNow()"><i class="fa fa-download"> Fetch now</i></a>
      </span>
      <span class='fetching' ng-if="controller.fetching"><i class="fa fa-refresh fa-spin"></i> Fetching</span>
    </span>
    <table>
      <tr>
        <th width="5%"></th>
        <th width="10%" class='foreign_id'>Foreign ID</th>
        <th>Title</th>
        <th width="30%"></th>
      </tr>
      <tbody ng-repeat="view in controller.views" ng-class-odd="'odd'">
        <tr>
          <td class='toggle' width="5%" ng-click="view.open = !view.open">
            <i class="fa fa-caret-down" ng-if="view.open"></i>
            <i class="fa fa-caret-right" ng-if="!view.open"></i>
          </td>
          <td class='foreign_id' width="10%" ng-click="view.open = !view.open">{{ view.foreign_id }}</td>
          <td class='title' ng-click="view.open = !view.open">{{ view.foreign_attributes.title }}</td>
          <td class='controls' width="20%">
            <a href="{{ controller.externalLink(view) }}"><i class="fa fa-external-link"></i> Open</a>
            <a href="#" ng-click="controller.edit(view.id)"><i class="fa fa-edit"></i> Edit</a>
            <a href="#" ng-click="controller.confirmDelete(view.id)"><i class="fa fa-remove"></i> Delete</a>
          </td>
        </tr>
        <tr ng-if="view.open">
          <td></td>
          <td class='foreign_attributes' colspan="3">
            <pre>{{ controller.prettyJSON(view.foreign_attributes) }}</pre>
          </td>
        </tr>
      </tbody>
    </table>
    <a href="#" class='new-view-link' ng-click="controller.new()"><i class="fa fa-plus-circle"> New View</i></a>
  </div>
</div>
<div id='view-form' ng-if="controller.form.show">
  <h2>{{ controller.form.title }}</h2>
  <div class='description'>{{ controller.form.description }}</div>
  <div class="flash-error" ng-if="controller.form.error">
    <pre>{{ controller.form.error }}</pre>
  </div>
  <div>
    <textarea id='form-view-foreign-attributes' ng-disabled="controller.form.saving">{{ controller.prettyJSON(controller.form.view.foreign_attributes) }}</textarea>
  </div>
  <div class='controls'>
    <span ng-if='!controller.form.saving'>
      <a href="#" ng-click="controller.closeForm()">Cancel</a>
      or
      <button ng-click="controller.save()">{{ controller.form.button_text }}</button>
    </span>
    <span class='controls' ng-if='controller.form.saving'>
      <i class="fa fa-refresh fa-spin"></i> Saving
    </span>
  </div>
  <div class='reference'>
    Please refer to the View format in the <a href="https://developer.zendesk.com/rest_api/docs/core/views" target="_new">Zendesk API Docs</a>.
  </div>
</div>
<div id='confirm-delete' class='modal' ng-if="controller.confirm_delete.show">
  <div>
    <p class="flash-error" ng-if="controller.confirm_delete.error">{{ controller.confirm_delete.error }}</p>
    <p>Are you sure you want to delete this view?</p>
    <p class='title'>{{ controller.confirm_delete.view.foreign_attributes.title }}</p>
    <div ng-if='!controller.confirm_delete.deleting'>
      <a href="#" ng-click="controller.closeConfirmDelete()">No, Cancel</a>
      or
      <button ng-click="controller.delete()">Yes, delete it</button>
    </div>
    <div ng-if='controller.confirm_delete.deleting'>
      <i class="fa fa-refresh fa-spin"></i> Deleting
    </div>
  </div>
</div>
