// AnswerIQ.com Confidential and Proprietary

@import 'imports';

#views {

  #fetched-views,
  #view-templates {
    margin-top: 2em;
  }

  #fetch {
    text-align: center;
    margin: 1em 0;
  }

  table {
    border-top: 1px solid #ccc;

    tr {
      cursor: pointer;
    }
    td.toggle {
      text-align: center;
    }
    td.title {
    }
    td.controls {
      text-align: right;
      padding-right: 1em;
      a {
        margin-left: 1em;
        text-decoration: none;
      }
    }
    td.foreign_attributes {
    }
    tbody.odd td {
      background: #eee;
    }
  }
}

#fetched-views h2 {
  float: left;
}

.fetch-section {
  float: right;
  padding: 0.5em 0;
}

.fetch-section .status,
.fetch-section .fetch-now-link,
.fetch-section .fetching {
  margin-right:1em;
}

.new-view-link {
  display: block;
  text-align: right;
  margin-right: 1em;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.4);
  z-index: 99999;
}
.modal > div {
  width: 900px;
  position: relative;
  margin: 250px auto 0 auto;
  padding: 2em;
  border-radius: 1em;
  background: #eee;
}
.modal > div > * {
  margin-top: 1em;
}
.modal > div > *:first-child {
  margin-top: 0;
}

#view-form {
  width: 900px;
  margin: 0 auto;
}
#view-form > * {
  margin-top: 1em;
}
#view-form > *:first-child {
  margin-top: 0;
}
#view-form textarea {
  height: 500px;
  font-family: monospace;
  margin: 0;
  padding: 1em;
}
#view-form .controls {
  text-align: right;
  float: right;
}
#view-form .description {
  white-space: pre-wrap;
  tab-size: 4;
}
#view-form .reference {
  font-style: italic;
}
#view-templates .sub-heading {
  margin: .5em 0;
}

#confirm-delete {
  text-align: center;
}
#confirm-delete .title {
  font-size: 150%;
  font-weight: bold;
}

.flash-error pre {
  white-space: pre-wrap;
}

#unsupported {
  margin-top: 3em 0;
  font-size: 150%;
  text-align: center;
}
