// AnswerIQ.com Confidential and Proprietary

%button {
  display: inline-block;
  border-radius: $base-border-radius;
  background-color: $base-button-color;
  padding: 0.75em 1em;
  text-decoration: none;
  line-height: 1;
  color: #fff;
  font-size: $base-font-size;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;

  &:hover {
    background-color: $hover-button-color;
    color: #fff;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
