// AnswerIQ.com Confidential and Proprietary

@mixin avoid-column-break-inside() {
  // scss-lint:disable PropertySpelling
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  // scss-lint:enable PropertySpelling
}
