// AnswerIQ.com Confidential and Proprietary

@import 'neat/app/assets/stylesheets/neat-helpers';

// Neat Overrides
$column: 90px;
$gutter: 24px;
$grid-columns: 12;

$max-width: em(1024);
$mobile: em(640);
$tablet: em(1024) + $base-spacing;


// When the screen is wider than the max grid width
$max-width-grid: new-breakpoint(min-width $tablet 12);
// When the screen is too small for 12 grid columns
$tablet-grid: new-breakpoint(max-width $tablet 8);
// When the screen is too small for 8 grid columns
$mobile-grid: new-breakpoint(max-width $mobile 4);

$border-box-sizing: false;

// Enables a gray grid showing the columns in the grid for debugging purposes
// $visual-grid: true;
