// AnswerIQ.com Confidential and Proprietary

// Typography
$sans-serif: 'Open Sans', sans-serif;
$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;
$h1-font-size: $base-font-size * 2;
$h2-font-size: $base-font-size * 1.5;
$h3-font-size: $base-font-size * 1.33;
$h4-font-size: $base-font-size * 1.16667;
$h5-font-size: $base-font-size * 1;
$h6-font-size: $base-font-size * 1;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors

// Branded blue
$blue: #376270;
$purple: #613392;
// A "selected" blue:
$light-blue: saturate(lighten($blue, 10%), 10%);
$dark-blue: #2e424b;
$dark-gray: #4b4e57;
$secondary-text-gray: #84868d;
$medium-gray: #84868d;
$light-gray: #c9c9c9;
$very-light-gray: #f2f3f4;
$outline-gray: #d9dde0;
$light-red: #fbe3e4;
$light-yellow: #fff6bf;
$light-green: #e6efc2;
$enabled-green: lighten($light-green, 10%);
$red: #c92411;
$yellow: #e7cb35;
$green: #56BA7C;
$white: #fff;

// Background Color
$base-background-color: #fff;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $purple;


// Link Colors
$base-link-color: #0099cc;
$hover-link-color: darken($base-link-color, 15);
$base-button-color: $green;
$hover-button-color: darken($green, 15);

// Flash Colors
$alert-color: $yellow;
$error-color: $red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $green;

// Border color
$base-border-color: $outline-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

$base-box-shadow: 2px 2px 2px rgba(#000, 0.05);
